<!DOCTYPE html>
<html id="ng-app" ng-app="App">
  <head>
    <base href="/">

    <meta charset="UTF-8">

    <title ng-bind="metaTags.pageTitle"></title>
    <meta name="keywords" content="{{metaTags.pageKeyWords}}" />
    <meta name="description" content="{{metaTags.pageDescription}}" />

    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />

    <link rel="stylesheet" href="/stylesheets/site-pages.css" />
    <link rel="stylesheet" href="/stylesheets/info-navigation.css" />
    <link rel="stylesheet" href="/stylesheets/deliery-payments.css" />
    <link rel="stylesheet" href="/stylesheets/return-guarantee.css" />
    <link rel="stylesheet" href="/stylesheets/faq.css" />
    <link rel="stylesheet" href="/stylesheets/info.css" />

    <link rel="stylesheet" href="/stylesheets/catalog.css" />
    <link rel="stylesheet" href="/stylesheets/catalog-filters.css" />
    <link rel="stylesheet" href="/stylesheets/product-list.css" />
    <link rel="stylesheet" href="/stylesheets/product-compare.css" />

    <link rel="stylesheet" href="/stylesheets/product.css" />

    <link rel="stylesheet" href="/stylesheets/buy.css" />

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/javascripts/vendor/bootstrap.js"></script>

    <script src="/javascripts/vendor/detect.js"></script>

    <!--[if lte IE 9]>
      <script src="//cdn.rawgit.com/jpillora/xdomain/0.6.17/dist/xdomain.min.js" slave="http://white-m.ru/proxy.html"></script>
    <![endif]-->

    <script src="/javascripts/vendor/angular/angular.min.js"></script>

    <script src="/javascripts/vendor/angular/angular-route.min.js"></script>
    <script src="/javascripts/vendor/angular/angular-animate.min.js"></script>
    <script src="/javascripts/vendor/angular/angular-sanitize.min.js"></script>

    <script src="/javascripts/vendor/gmaps.js"></script>

    <script src="/javascripts/vendor/angular/localStorage.js"></script>
    <script src="/javascripts/directives/gmaps-ng.js"></script>

    <script src="/javascripts/vendor/waypoint/waypoints.min.js"></script>
    <script src="/javascripts/vendor/waypoint/waypoints-sticky.min.js"></script>

    <script src="/javascripts/vendor/spritespin.js"></script>
    <script src="/javascripts/directives/spritespin-ng.js"></script>

    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

    <script src="/javascripts/vendor/3D/object2vr_player.js"></script>
    <script src="/javascripts/vendor/3D/skin.js"></script>
    <script src="/javascripts/vendor/angular-object2vr.js"></script>

    <script src="/javascripts/vendor/angular-strap/angular-strap.js"></script>
    <script src="/javascripts/vendor/angular-strap/angular-strap.tpl.js"></script>

    <script src="/javascripts/vendor/angular-strap/modules/tooltip.js"></script>
    <script src="/javascripts/vendor/angular-strap/modules/tooltip.tpl.js"></script>

    <script src="/javascripts/vendor/angular-strap/modules/select.js"></script>
    <script src="/javascripts/vendor/angular-strap/modules/select.tpl.js"></script>
    <script src="/javascripts/vendor/angular-strap/modules/parse-options.js"></script>

    <script src="/javascripts/vendor/angular-strap/modules/collapse.js"></script>

    <script src="/javascripts/vendor/jquery.matchHeight-min.js"></script>
    <script src="/javascripts/directives/matchHeight-ng.js"></script>

    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/controllers/application.js"></script>

    <script src="/javascripts/controllers/catalog.js"></script>

    <script src="/javascripts/controllers/delivery.js"></script>
    <script src="/javascripts/controllers/product.js"></script>
    <script src="/javascripts/controllers/product_compare.js"></script>
    <script src="/javascripts/controllers/basket.js"></script>
    <script src="/javascripts/controllers/info.js"></script>

  </head>
  <body>
    <div class="wrapper" ng-controller="ApplicationCtrl" ng-class="{'sidebar-open': sidebarMenuIsOpen}">

      <div class="header-layout">
        <div class="logo">
          <a ng-href="/">
            <img src="images/logo.png" alt="" />
          </a>
        </div>
        <div class="navigation">
          <div class="navigation_top">
            <ul>
              <li>
                <a href="/delivery">Доставка</a>
              </li>
              <li>
                <a href="/payment">Оплата</a>
              </li>
              <li>
                <a href="/return_guarantee">Гарантии и возврат</a>
              </li>
              <li>
                <a href="/faq">Вопросы и ответы</a>
              </li>
              <li>
                <a href="/contacts">Контакты</a>
              </li>
              <li>
                <a href="/info">Полезная информация</a>
              </li>
              <li>
                <a href="/brands">Бренды</a>
              </li>
              <li>
                <a href="/about">О компании</a>
              </li>
              <li>
                <form class="search" ng-class="{'search-active': searchFormActive}">
                  <input type="text" name="search" value="" class="form-control" ng-model="searchString" ng-blur="toggleSearchFormBlur()" />
                  <button class="caption" type="submit" ng-click="toggleSearchForm()">
                    <i class="fa fa-search"></i>
                    Поиск
                  </button>
                </form>
              </li>
            </ul>

            <div class="item-right contacts">
              <div class="contacts-item email">
                <a ng-href="mailto:{{mainEmail}}" ng-bind="mainEmail"></a>
              </div>
              <div class="contacts-item phone">
                <span ng-bind="mainPhone"></span>
              </div>
            </div>
          </div>
          <div class="navigation_bottom">
            <ul>
              <li ng-repeat="item in navigationMenu" ng-mouseenter="hideBasket()" toggle-menu-ico toggle-menu-item="item" >
                <a ng-href="/catalog">
                  <span class="caption" ng-bind="item.title"></span>
                </a>
              </li>
            </ul>

            <a ng-href="/product_compare" class="compared-products" ng-if="comparedProducts.length > 0 && enableCompareShortcut">
              К сравнению ({{comparedProducts.length}})
            </a>

            <div class="item-right basket">
              <div class="caption">
                <a href="/basket" rel="nofollow">
                  <span class="toggle-part">Корзина (</span><span ng-bind="basketCount">0</span><span class="toggle-part">)</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-menu-info" ng-if="pageIsInfo">
        <ul>
          <li ng-repeat="item in infoNavMenu" ng-class="{active: item.active}">
            <a ng-href="{{item.url}}" ng-bind="item.title"></a>
          </li>
        </ul>
      </div>

      <div class="main-content" ng-class="{'container-inner': !pageIsMain}">
        <div ng-view=""></div>
      </div>

    </div>
  </body>
</html>