<div class="page-block page-block-about">
  <div class="page-inner">

    <div class="head">Супер ребята делают свое дело</div>

    <div class="page-title">Invasite</div>
    <div class="page-content">
      Давно я не выкладывал пост в формате «один мой день». Тому есть несколько
      причин. Во-первых, не могу сказать, что моя жизнь настолько интересная,
      чтобы ее выставлять напоказ. Во-вторых, такой формат предполагает кучу
      работы. Попробуйте постоянно снимать все, что вы делаете, и фиксировать
      время ваших действий. Уже в обед вы поймете, что забыли сфотографировать
      свою еду, а к вечеру вспомните, что не зафиксировали несколько встреч. Легко
      фотографировать селфи
    </div>
  </div>

  <div class="transitions">
    <div class="transition-item">
      <a ng-href="/brands/">
        <div class="transition-inner">
          <div class="transition-title">Наши бренды</div>
          <div class="transition-text">Узнайте, чьи товары мы продаем</div>
        </div>
      </a>
    </div>
    <div class="transition-item">
      <a ng-href="/catalog/">
        <div class="transition-inner">
          <div class="transition-title">В каталог</div>
          <div class="transition-text">Продолжить совершать покупки</div>
        </div>
      </a>
    </div>
  </div>

</div>