<div class="page-block page-block-buy" ng-controller="BasketCtrl">
  <div class="products">

    <div class="products-list" ng-if="basketList.length > 0">
      <div class="products-list-item" ng-repeat="item in basketList">
        <div class="image">
          <img ng-src="{{domain + item.photo.original}}" alt="" />
        </div>
        <div class="info">
          <div class="info-item artikul">
            Арт: <span ng-bind="item.art"></span>
          </div>

          <div class="info-item stock-type" ng-class="{'in-stock': product.in_stock}">
            <div class="stock-indicator"></div>
            <span ng-if="product.in_stock">В наличии</span>
            <span ng-if="!product.in_stock">Нет в наличии</span>
          </div>
        </div>

        <div class="name" ng-bind="item.name"></div>

        <div class="actions">
          <div class="action-item count">
            <div class="count-item count-button count-button-minus" ng-class="{disabled: item.count == 1}" ng-click="changeProductCount(item, 'minus')"></div>
            <div class="count-item count-number" ng-bind="item.count"></div>
            <div class="count-item count-button count-button-plus" ng-click="changeProductCount(item, 'plus')"></div>
          </div>
          <div class="action-item remove" ng-click="removeItem(item)">Убрать товар</div>
        </div>

        <div class="price"><span ng-bind="item.price * item.count"></span>.-</div>
      </div>
    </div>

    <div class="buy-empty" ng-if="basketList.length == 0">
      Ничего не выбрано
    </div>

  </div>

  <div class="checkout" ng-if="basketList.length > 0">

    <div class="tabs">
      <div class="tab-item" ng-repeat="item in checkoutSteps" ng-click="changeCheckoutStep($index)" ng-class="{'tab-active': $index == checkoutStepSelected}">
        <div class="inner" ng-bind="item">Контакты</div>
      </div>
    </div>

    <div class="tab-content">
      <div class="tab-content-item" ng-show="checkoutStepSelected == 0">
        <div class="title">Контактные данные</div>
        <div class="inner contacts">
          <div class="form-horizontal">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Введите имя" ng-model="checkoutData.name" />
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <input class="form-control" type="email" placeholder="Введите почту" ng-model="checkoutData.email" />
                </div>
                <div class="col-sm-6">
                  <input class="form-control" type="text" placeholder="Введите телефон" ng-model="checkoutData.phone" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content-item tab-content-item-delivery" ng-show="checkoutStepSelected == 1">
        <div class="title">Доставка</div>
        <div class="inner">
          <div class="delivery-list">
            <div class="delivery-item" ng-repeat="item in deliveryItems" ng-class="{selected: selectedDelivery == item}">
              <div ng-bind="item.title"></div>

              <div ng-if="item.priceRange">
                <div class="price">Стоимость от <span ng-bind="item.priceRange.from"></span> до <span class="summ"><span ng-bind="item.priceRange.to"></span>.-</span></div>
              </div>

              <div ng-if="item.price" class="price" ng-bind="item.price"></div>

              <div class="choose-button" ng-click="toggleDeliveryItem(item)">Выбрать</div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content-item tab-content-item-delivery" ng-show="checkoutStepSelected == 2">
        <div class="title">Оплата</div>
        <div class="inner">
          <div class="delivery-list">
            <div class="delivery-item" ng-repeat="item in paymentItems" ng-class="{selected: selectedPayment == item}">
              <div ng-bind="item.title"></div>
              <div class="choose-button" ng-click="togglePaymentItem(item)">Выбрать</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="continue-button">
      <div class="inner" ng-click="nextStep()">Продолжить</div>
    </div>

  </div>
</div>