<div class="page-block page-block-brands" ng-controller="BrandsCtrl">
  <div class="head">Ведущие производители</div>
  <div class="brand-list">
    <div class="brand-item" ng-repeat="item in brandsList">
      <div class="image">
        <img ng-src="{{item.image}}" width="277" height="277" alt="" />
      </div>
      <div class="description">
        <div class="title" ng-bind="item.title"></div>
        <div class="text" ng-bind="item.text"></div>
        <a ng-href="#!/brands/{{item.id}}" class="btn-details">Подробнее</a>
      </div>
    </div>
  </div>
</div>