<div class="page-block page-block-brand-item" ng-controller="BrandItemCtrl">
  <div class="head">Ведущие производители</div>
  <div class="brand-details">
    <div class="ico-close"><a href="/brands/"></a></div>
    <div class="brand-inner">
      <div class="brand-ico">
        <img ng-src="{{brandDetails.logo}}" alt="" width="220" />
      </div>
      <div class="brand-title" ng-bind="brandDetails.title"></div>
      <div class="brand-text" ng-bind-html="brandDetails.text"></div>
      <div class="catalog-groups" ng-if="brandDetails.catalog_groups.length > 0">
        <a href="javascript:void(0)" class="catalog-group-item" ng-repeat="item in brandDetails.catalog_groups">
          <span ng-bind="item.title"></span>
        </a>
      </div>
    </div>
  </div>
</div>