<div class="page-block page-block-brand-item" ng-controller="BrandsCtrl">
  <div class="head">Ведущие производители</div>
  <div class="brand-details">
    <div class="ico-close"></div>
    <div class="brand-inner">
      <div class="brand-title">Invacare</div>
      <div class="brand-text">
        Давно я не выкладывал пост в формате «один мой день». Тому есть несколько
        причин. Во-первых, не могу сказать, что моя жизнь настолько интересная,
        чтобы ее выставлять напоказ. Во-вторых, такой формат предполагает кучу работы.
        Попробуйте постоянно снимать все, что вы делаете, и фиксировать время ваших
        действий. Уже в обед вы поймете, что забыли сфотографировать свою еду,
        а к вечеру вспомните, что не зафиксировали несколько встреч. Легко
        фотографировать селфи
      </div>
    </div>
  </div>
</div>