<div class="page-block page-block-buy" ng-controller="BuyCtrl">
  <div class="products">

    <div class="products-list" ng-if="basketList.length > 0">
      <div class="products-list-item" ng-repeat="item in basketList">
        <div class="image">
          <img src="images/temp/product-image-basket.jpg" alt="" width="70" height="70" />
        </div>
        <div class="name" ng-bind="item.name"></div>
        <div class="price"><span ng-bind="item.price"></span>.-</div>
        <div class="remove" ng-click="removeItem(item)"></div>
      </div>
    </div>

    <div class="buy-empty" ng-if="basketList.length == 0">
      Ничего не выбрано
    </div>

  </div>

  <div class="checkout" ng-if="basketList.length > 0">

    <div class="tabs">
      <div class="tab-item" ng-repeat="item in checkoutSteps" ng-click="changeCheckoutStep($index)" ng-class="{'tab-active': $index == checkoutStepSelected}">
        <div class="inner" ng-bind="item">Контакты</div>
      </div>
    </div>

    <div class="tab-content">
      <div class="tab-content-item" ng-show="checkoutStepSelected == 0">
        <div class="title">Контактные данные</div>
        <div class="inner contacts">
          <div class="form-horizontal">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Введите имя" ng-model="checkoutData.name" />
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <input class="form-control" type="email" placeholder="Введите почту" ng-model="checkoutData.email" />
                </div>
                <div class="col-sm-6">
                  <input class="form-control" type="text" placeholder="Введите телефон" ng-model="checkoutData.phone" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content-item tab-content-item-delivery" ng-show="checkoutStepSelected == 1">
        <div class="title">Доставка</div>
        <div class="inner">
          <div class="delivery-list">
            <div class="delivery-item" ng-repeat="item in deliveryItems" ng-class="{selected: selectedDelivery == item}">
              <div ng-bind="item.title"></div>

              <div ng-if="item.priceRange">
                <div class="price">Стоимость от <span ng-bind="item.priceRange.from"></span> до <span class="summ"><span ng-bind="item.priceRange.to"></span>.-</span></div>
              </div>

              <div ng-if="item.price" class="price" ng-bind="item.price"></div>

              <div class="choose-button" ng-click="toggleDeliveryItem(item)">Выбрать</div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content-item tab-content-item-delivery" ng-show="checkoutStepSelected == 2">
        <div class="title">Оплата</div>
        <div class="inner">
          <div class="delivery-list">
            <div class="delivery-item" ng-repeat="item in paymentItems" ng-class="{selected: selectedPayment == item}">
              <div ng-bind="item.title"></div>
              <div class="choose-button" ng-click="togglePaymentItem(item)">Выбрать</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="continue-button">
      <div class="inner" ng-click="nextStep()">Продолжить</div>
    </div>

  </div>
</div>