<div class="page-block page-block-catalog" ng-controller="CatalogCtrl">
  <div class="filters">
    <div class="filter-type filter-carriage-type">
      <div class="filter-item" ng-repeat="item in carriageTypes" ng-click="changeType(item.type)" ng-class="{selected: item.type == carriageTypeSelected}" ng-bind="item.title"></div>
    </div>

    <div class="filter-type filter-carriage-options" ng-if="carriageOptionsByType">
      <div class="filter-item" ng-repeat="item in carriageOptionsByType" ng-click="filterOptions($index)" ng-class="{checked: activeOptionsFilter.indexOf($index) > -1}">
        <span ng-bind="item"></span>
        <div class="ico"></div>
      </div>
    </div>

    <div class="filter-type filter-carriage-order" ng-class="{ordered:priceOrderProperty == '-price'}" ng-click="togglePriceOrderProperty()">
      Сортировать по ценам
      <div class="ico"></div>
    </div>
  </div>

  <div class="product-list" id="isotopeContainer" isotope-container="isotope-container" iso-options="isoOptions">
    <a href="#!/catalog/1" class="product-item" ng-if="item.visible" ng-repeat="item in productsList | orderBy:priceOrderProperty" isotope-item>
      <div class="price"><span ng-bind="item.price"></span> руб.</div>
      <div class="image">
        <img src="images/temp/product-image.png" alt="" />
      </div>
      <div class="name" ng-bind="item.name"></div>
    </a>
  </div>
</div>