<div class="page-block page-block-catalog" ng-controller="CatalogCtrl">
  <div class="catalog-head">
    <div class="filters">
      <div class="filter-item filter-type filter-carriage-type btn btn-default" ng-if="catalogGroupSelected == 'carriages'">
        <button type="button" class="btn btn-default btn-dropdown" ng-model="carriageType.selected" data-html="1" ng-options="item.value as item.title for item in carriageType.list" data-placeholder="" data-selected-caption="Категория:" bs-select></button>
      </div>

      <div class="filter-item btn btn-default" ng-repeat="item in carriageOptions" ng-bind="item.name" ng-click="filterOptions(item.id)" ng-class="{checked: activeOptionsFilter.indexOf(item.id) > -1}"></div>

      <div class="filter-item filter-type filter-brand btn btn-default">
        <button type="button" class="btn btn-default btn-dropdown" ng-model="brand.selected" data-html="1" ng-options="item.value as item.title for item in brand.list" data-placeholder="Бренд" data-selected-caption="Бренд:" bs-select></button>
      </div>

      <div class="filter-item filter-type filter-price btn btn-default">
        <button type="button" class="btn btn-default btn-dropdown" ng-model="price.selected" data-html="1" ng-options="item.value as item.title for item in price.list" data-placeholder="Цена" data-selected-caption="Цена:" bs-select></button>
      </div>

      <div class="filter-item filter-type filter-sort btn btn-default">
        <button type="button" class="btn btn-default btn-dropdown" ng-model="presence.selected" data-html="1" ng-options="item.value as item.title for item in presence.list" data-placeholder="Наличие" data-selected-caption="Наличие:" bs-select></button>
      </div>

    </div>
  </div>

  <div class="product-list">
    <div class="product-list-empty" ng-if="productsListEmpty">
      <h2>Ничего не найдено</h2>
    </div>
    <div class="product-item equal-height" ng-repeat="product in productsList">
      <div class="image">
        <a ng-href="/catalog/{{product.href}}">
          <img ng-src="{{domain + product.photo.image.thumb.url}}" alt="{{product.name}}" width="272" height="272" />
        </a>
      </div>
      <div class="product-details">
        <div class="artikul">
          Арт: <span ng-bind="product.artikul"></span>
        </div>
        <div class="stock-type" ng-class="{'in-stock': product.in_stock}">
          <div class="stock-indicator"></div>
          <span ng-if="product.in_stock">В наличии</span>
          <span ng-if="!product.in_stock">Нет в наличии</span>
        </div>
      </div>
      <div class="name">
        <a ng-href="/catalog/{{product.href}}" ng-bind="product.name"></a>
      </div>
      <div class="product-compare" ng-click="compareProduct(product)" ng-class="{disabled: product.compareDisabled}">+ Добавить к сравнению</div>

      <div class="product-footer">
        <div class="buy">
          <a ng-href="/catalog/{{product.href}}" class="btn-buy">Купить</a>
        </div>
        <div class="price"><span ng-bind="product.price"></span>.-</div>
      </div>
    </div>
  </div>
</div>