<div class="page-block page-block-contacts" ng-controller="ContactsCtrl">
  <div class="head">С нами легко связаться</div>

  <div class="contacts-list">
    <div class="page-col page-map">
      <div class="communication-type">
        <div class="title">Адрес</div>
        <div class="map-box" googlemap="" id="map-location" markers="mapMarkers"></div>
        <div class="address">г. Москва, Ленинский проспект, 500м от МКАД, Бизнес-парк «Румянцево», корпус «Г», 11 подъезд, офис 521г</div>
      </div>
    </div>
    <div class="page-col page-content">
      <div class="communication-types">
        <div class="communication-type">
          <div class="title">Почта</div>
          <div class="text email">invasite@met.ru</div>
        </div>

        <div class="communication-type">
          <div class="title">Телефон</div>
          <div class="text phone">909 699 07 67</div>
          <div class="call-order">
            <button class="button"><i></i>Заказать звонок</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>