<div class="page-block page-block-info-part page-block-contacts" ng-controller="ContactsCtrl">
  <div class="title">Контакты</div>

  <div class="page-content">

    <div class="communication-types">

      <div class="communication-type">
        <div class="title">Телефон</div>
        <div class="text" ng-bind="mainPhone"></div>
      </div>

      <div class="communication-type">
        <div class="title">Почта</div>
        <div class="text" ng-bind="mainEmail"></div>
      </div>
    </div>

    <div class="communication-type">
      <div class="title">Время работы офиса</div>
      <div class="text">
        пн-пт  9:00 - 19:00<br/>
        сб  11:00 - 15:00<br/>
        вс - выходной<br/>
        Прием звонков: ежедневно с 9:00 до 23:00
      </div>
    </div>

    <div class="communication-type communication-type-address">
      <div class="title">Адрес</div>
      <div class="text" ng-bind="mainAddress"></div>

      <a href="javascript:void(0)" class="download-scheme">Скачать схему проезда</a>

      <div class="map-box" googlemap="" id="map-location" markers="mapMarkers"></div>
    </div>

  </div>
</div>