<div class="page-block page-block-info-part page-block-delivery-payments" ng-controller="DeliveryCtrl">
  <div class="delivery">
    <div class="title">Доставка</div>

    <div class="delivery-navigation">
      <ul>
        <li class="active">По Москве</li>
        <li>По России</li>
        <li>В Беларусь и Казахстан</li>
        <li>Самовывоз</li>
        <li>Дополнительные услуги</li>
      </ul>
    </div>

    <div class="delivery-list">

    <div class="delivery-item delivery-item-additional delivery-item-moscow">
      <div class="delivery-item-title">Доставка по Москве</div>
      <div class="delivery-item-content">
        <p>
          Бесплатная доставка в пределах МКАД при сумме заказа от 5000 руб.
        </p>
        <div class="sub-list">
          <div class="sub-list-item">
            <div class="sub-list-item-content">
              <table class="price-grid">
                <thead>
                <tr>
                  <td>Стоимость и вес заказа</td>
                  <td>В пределах МКАД</td>
                  <td>За МКАД</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    Менее 5000 руб и до 30 кг
                  </td>
                  <td class="value">
                    <span class="digits">650 руб.</span>
                  </td>
                  <td class="value">
                    <span class="digits">650 руб.</span>+ <span class="digits">35 руб.</span> за каждый км за МКАД
                  </td>
                </tr>
                <tr>
                  <td>
                    Более 30 кг
                  </td>
                  <td class="value">
                    <span class="digits">990 руб.</span>
                  </td>
                  <td class="value">
                    <span class="digits">990 руб.</span>+ <span class="digits">35 руб.</span> за каждый км за МКАД
                  </td>
                </tr>
                <tr>
                  <td>
                    Более 5000 руб.
                  </td>
                  <td class="value">
                    <span class="digits">бесплатно</span>
                  </td>
                  <td class="value">
                    <span class="digits">35 руб.</span> за каждый км за МКАД
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <p>
          Доставка осуществляется до подъезда. Дополнительно вы можете заказать услуги (ссылка на доп.услуги) подъема на этаж, сборки и тестирования изделия.
        </p>
      </div>
    </div>

      <div class="delivery-item">
        <div class="delivery-item-title">Доставка по России</div>
        <div class="delivery-item-content">
          <p>
            Мы <strong>БЕСПЛАТНО</strong> доставим заказ после его оплаты до следующих транспортных компаний: Деловые линии, Первая Экспедиционная Компания (ПЭК), Байкал-Сервис, Стейл и ЖелДорЭкспедиция.
          </p>
          <p>
            Дальнейшая транспортировка осуществляется по тарифам и под ответственность транспортной компании. Доставка производится до пункта выдачи заказа транспортной компании в вашем городе.
          </p>

          <div class="sub-list">

            <div class="sub-list-item">
              <div class="sub-list-item-title">Тарифы транспортных компаний</div>
              <div class="sub-list-item-content">
                <p>
                  Уточните у менеджера какая транспортная компания везет вам груз и номер товарно-транспортной накладной.
                  Далее выберите в таблице нужную  транспортную компанию, пройдите по указанной  ссылке и введите номер товарно-транспортной накладной.
                </p>
                <div class="delivery-companies">
                  <table>
                    <tr>
                      <td>ПЭК</td>
                      <td>
                        <a href="http://www.pecom.ru/ru/calc" target="_blank" rel="nofollow">http://www.pecom.ru/ru/calc</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Деловые линии</td>
                      <td>
                        <a href="http://www.dellin.ru/calculator" target="_blank" rel="nofollow">http://www.dellin.ru/calculator</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Байкал сервис</td>
                      <td>
                        <a href="http://www.baikalsr.ru/value/calculator/" target="_blank" rel="nofollow">http://www.baikalsr.ru/value/calculator/</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Стейл</td>
                      <td>
                        <a href="http://www.steil.ru/rates/" target="_blank" rel="nofollow">http://www.steil.ru/rates/</a>
                      </td>
                    </tr>
                    <tr>
                      <td>ЖелДорЭкспедиция</td>
                      <td>
                        <a href="http://www.jde.ru/calc" target="_blank" rel="nofollow">http://www.jde.ru/calc</a>
                      </td>
                    </tr>
                    <tr>
                      <td>ЖелдорАльянс</td>
                      <td>
                        <a href="http://zhdalians.ru/" target="_blank" rel="nofollow">http://zhdalians.ru/</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="delivery-item">
        <div class="delivery-item-title">Доставка в Беларусь и Казахстан</div>
        <div class="delivery-item-content">
          <div class="sub-list">

            <div class="sub-list-item">
              <div class="sub-list-item-title">В Беларусь</div>
              <div class="sub-list-item-content">
                <p>
                  Доставка осуществляется только по вашему конкретному адресу (например, адресу проживания) в следующих городах: Борисов, Брест, Витебск,  Гомель,  Гродно,  Добруш, Лида, Минск, Могилев, Орша.
                </p>
                <p>
                  Ваш заказ отправляется по условиям и тарифам ТК “Деловые линии”, у которых нет терминалов хранения груза в Беларуси.
                  Поэтому  указывайте пожалуйста точный адрес доставки и ожидайте прибытия изделия по указанному адресу.
                </p>
                <p class="notice">
                  Стоимость доставки в Беларусь оплачивает покупатель.
                  С тарифами и условиями вы можете ознакомиться по ссылке <a href="http://dellin.ru/service/international-freight/" target="_blank" rel="nofollow">dellin.ru/service/international-freight/</a> или уточнить у менеджера.
                </p>
              </div>
            </div>

            <div class="sub-list-item">
              <div class="sub-list-item-title">В Казахстан</div>
              <div class="sub-list-item-content">
                <p>
                  По Казахстану доставка осуществляется в следующие города:  Астана, Атырау, Актобе, Караганда, Кокшетау, Костанай, Павлодар, Петропавловск, Рудный, Семей, Темиртау, Уральск, Усть-Каменогорск, Экибастуз.
                </p>
                <p>
                  Транспортная компания-перевозчик - ПЭК, с тарифами и условиями вы можете ознакомиться по ссылке <a href="http://pecom.ru/ru/services/directions/kazahstan/144601/" target="_blank" rel="nofollow">pecom.ru/ru/services/directions/kazahstan/144601/</a> или уточнить у менеджера.
                </p>
                <p class="notice">
                  Стоимость доставки в Казахстан оплачивает покупатель.
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="delivery-item">
        <div class="delivery-item-title">Самовывоз</div>
        <div class="delivery-item-content">
          <p>
            Если вы хотите самостоятельно забрать свой заказ, договоритесь с менеджером о дате и подъезжайте на наш склад по адресу: г. Москва, Киевское шоссе, стр. 2, офис 520
          </p>
          <a href="javascript:void(0)" class="download-scheme">Скачать схему проезда</a>
        </div>
      </div>

      <div class="delivery-item delivery-item-additional">
        <div class="delivery-item-title">Дополнительные услуги</div>
        <div class="delivery-item-content">
          При доставке заказа по г. Москве и Московской области вы можете заказать ряд дополнительных услуг:

          <div class="additional-service-list">
            <ul>
              <li>занос на этаж</li>
              <li>сборка изделия и тестирование</li>
            </ul>
          </div>

          <p>
            Стоимость заноса на ваш этаж зависит от веса изделия и наличия в подъезде грузового лифта, но не превышает 1000 руб.
            Точную стоимость заноса и сборки вашего заказа уточните, пожалуйста, у менеджера
          </p>

          <div class="sub-list">

            <div class="sub-list-item">
              <div class="sub-list-item-title">Сборка и демонстрация работоспособности</div>
              <div class="sub-list-item-content">
                <table class="price-grid">
                  <tr>
                    <td>
                      В зависимости от сложности сборки
                    </td>
                    <td class="value">
                      <span class="digits">200-1000 руб.</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="sub-list-item">
              <div class="sub-list-item-title">Подъем груза на грузовом лифте</div>
              <div class="sub-list-item-content">
                <table class="price-grid">
                  <tr>
                    <td>
                      Вес 0 - 29кг
                    </td>
                    <td class="value">
                      <span class="digits">200 руб.</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Вес 30-69кг
                    </td>
                    <td class="value">
                      <span class="digits">500 руб.</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Вес от 70кг
                    </td>
                    <td class="value">
                      <span class="digits">1000 руб.</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="sub-list-item">
              <div class="sub-list-item-title">Подъем груза при отсутствии грузового лифта (ручной подъем)</div>
              <div class="sub-list-item-content">
                <table class="price-grid">
                  <tr>
                    <td>
                      Вес 0-69кг
                    </td>
                    <td class="value">
                      <span class="digits">100 руб.</span> за каждый этаж (<span class="digits">500 руб.</span> минимум)
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Вес от 70кг
                    </td>
                    <td class="value">
                      <span class="digits">200 руб.</span> за каждый этаж (<span class="digits">1000 руб.</span> минимум)
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>