<div class="page-block page-block-delivery-payments">
  <div class="head">Все просто и удобно</div>

  <div class="delivery">
    <div class="title">Доставка</div>
    <div class="text">
      Таков первый разряд писем. Второй разряд это письма людей,
      желающих служить народу и не находящих способа пивасика
      приложения своих, очевидно, предполагаемых птичек
    </div>

    <div class="delivery-types">

      <div class="delivery-type-item">
        <div class="title">Механические кресла</div>
        <div class="delivery-list">
          <table>
            <tr class="border">
              <td class="target">Москва</td>
              <td></td>
              <td class="price">бесплатно</td>
            </tr>
            <tr>
              <td class="target">Московская область</td>
              <td>до 30км</td>
              <td class="price">1000 руб.</td>
            </tr>
            <tr class="border">
              <td></td>
              <td>от 30км</td>
              <td class="price">2000 руб.</td>
            </tr>
            <tr class="border">
              <td class="target">Регионы</td>
              <td></td>
              <td class="price">1000 руб.</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="delivery-type-item">
        <div class="title">Электрические кресла</div>
        <div class="delivery-list">
          <table>
            <tr class="border">
              <td class="target">Москва</td>
              <td></td>
              <td class="price">бесплатно</td>
            </tr>
            <tr>
              <td class="target">Московская область</td>
              <td>до 30км</td>
              <td class="price">1000 руб.</td>
            </tr>
            <tr class="border">
              <td></td>
              <td>от 30км</td>
              <td class="price">2000 руб.</td>
            </tr>
            <tr class="border">
              <td class="target">Регионы</td>
              <td></td>
              <td class="price">3000 руб.</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div class="order-call">
    Менеджер ответит на все ваши вопросы. Закажите его звонок <button class="button"><i></i>Заказать звонок</button>
  </div>

  <div class="payment">
    <div class="title">Оплата</div>
    <div class="text">
      Таков первый разряд писем. Второй разряд это письма людей,
      желающих служить народу и не находящих способа пивасика
      приложения своих, очевидно, предполагаемых птичек
    </div>

    <div class="payments-list">

      <div class="payment-item">
        <div class="inner">
          <div class="title">Наличными в офисе</div>
          <div class="text">
            Коляски премиум-класса
          </div>
        </div>
      </div>

      <div class="payment-item">
        <div class="inner">
          <div class="title">Банковский перевод</div>
          <div class="text">
            Коляски всех видов
          </div>
        </div>
      </div>

      <div class="payment-item">
        <div class="inner">
          <div class="title">Кредитные карты</div>
          <div class="text">
            Лучшие спортивные коляски
          </div>
        </div>
      </div>

      <div class="payment-item">
        <div class="inner">
          <div class="title">Онлайн-деньги</div>
          <div class="text">
            Медицинские аксессуары
          </div>
        </div>
      </div>

    </div>
  </div>
</div>