<div class="page-block page-block-info-part page-block-faq">
  <div class="title">Вопросы и ответы</div>
  <div class="faq-list">
    <div class="faq-item">
      <div class="faq-item-question">
        Гарантия доставки заказа в надлежащем качестве
      </div>
      <div class="faq-item-answer">
        В соответствии с пунктом  2 статьи 437 Гражданского кодекса Российской Федерации наша компания работает на основе предоставления публичной оферты, с положениями которой вы можете ознакомиться здесь (ссылка на скачивание файла ворд).
        Данный документ вступает в юридическую силу с момента совершения вами оплаты заказа (поэтому обязательно сохраняйте чеки и другие подтверждения совершения оплаты).  Таким образом, доставка товара в надлежащем качестве гарантируется законодательством. Юридическая информация о нашей компании находится в открытом доступе на странице «О компании», адрес и телефон указаны на странице «Контакты», так что вы всегда можете связаться с нами или подъехать в офис лично.
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        Что включает в себя услуга доставки?
      </div>
      <div class="faq-item-answer">
        <p>
          Услуга доставки включает в себя доставку до подъезда.
          Занос на этаж, сборка и тестирование оплачиваются отдельно и осуществляются только при доставке в Москве и Московской области.
          Стоимость заноса на ваш этаж зависит от веса изделия и наличия в подъезде грузового лифта, но не превышает 1000 руб.
          Точную стоимость заноса и сборки вашего заказа уточните пожалуйста у менеджера.
        </p>
        <p>
          В регионы мы отправляем заказ транспортной компанией и они, увы, не предоставляют услугу заноса на этаж и сборки.
        </p>
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        Товар мне не подходит и я хочу его вернуть
      </div>
      <div class="faq-item-answer">
        В соответствии со ст. 25 Закона Российской Федерации «О защите прав потребителей»  медицинская мебель и оборудование обмену и возврату не подлежат.
        Тем не менее, учитывая ваши конкретные обстоятельства, мы можем принять товар обратно, вернув оплату, за исключением оплаты услуг доставки.
        При этом, в соответствии с законодательством, возврат товара возможен только в случае, если он не был в употреблении: товар не собран, сохранен его товарный вид, потребительские свойства, пломбы, фабричные ярлыки, а также имеется товарный или кассовый чек, либо другой подтверждающий оплату документ.
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        Что включает в себя гарантия?
      </div>
      <div class="faq-item-answer">
        <p>
          Гарантийный случай подразумевает неисправность, вызванную браком на производстве. Обратите пожалуйста внимание – поломка в результате некорректного использования инвалидной коляски не является гарантийным случаем!
        </p>
        <p>
          Если у вас произошел гарантийный случай сфотографируйте неисправность, напишите заявление в свободной форме с описанием проблемы и вышлите все это нам на почту <span  ng-bind="mainEmail"></span>. В течение недели отдел рекламаций рассмотрит вашу заявку и свяжется с вами для обсуждения дальнейших действий.
        </p>
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        Как мне получить 10% скидки на покупку инвалидной коляски с электроприводом?
      </div>
      <div class="faq-item-answer">
        Если у вас есть старая инвалидная коляска с электроприводом вы можете сдать ее нам и получить 10% скидки на приобретение новой коляски Invacare с электроприводом.
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        Как получить компенсацию за инвалидную коляску?
      </div>
      <div class="faq-item-answer">
        <p>
          Компенсация за приобретение инвалидной коляски предусматривается Индивидуальной программой реабилитации (сокращенно ИПР) в соответствии с Постановлением Правительства РФ от 7 апреля 2008 г. N 240 "О порядке обеспечения инвалидов техническими средствами реабилитации и отдельных категорий граждан из числа ветеранов протезами (кроме зубных протезов), протезно-ортопедическими изделиями".
        </p>
        <p>
          Для получения компенсации вам нужно обратиться в территориальный орган Фонда социального страхования Российской Федерации, взять 2 экземпляра бланка заявления на получение компенсации, заполнить их и к заявлению приложить следующие документы:
        </p>

        <p>
          1) Документы, подтверждающие расходы по самостоятельному приобретению технического средства реабилитации и (или) оказанию услуги инвалидом за собственный счет (товарный, кассовый чек)<br/>
          2) Паспорт изделия и сертификат соответствия с синей печатью<br/>
          3) Регистрационные документы компании, продавшей ТСР<br/>
          4) Паспорт, если оформляется на ребенка: свидетельство о рождении, паспорт родителя, который будет получать компенсацию<br/>
          5) Справка, подтверждающая инвалидность<br/>
          6) Страховое свидетельство обязательного пенсионного страхования, содержащее страховой номер индивидуального лицевого счета (СНИЛС)<br/>
          7) Программу реабилитации (ИПР)<br/>
          8) Сберкнижку
        </p>

        <p>
          Подробнее читайте в <a href="/info?part=1">статье</a>
          Документы пунктов 1-3 предоставляются нашей компанией при оплате заказа.
        </p>
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        Как происходит доставка регионы?
      </div>
      <div class="faq-item-answer">
        <p>
          Доставка в регионы осуществляется следующими транспортными компаниями:
        </p>

        <div class="delivery-companies">
          <table>
            <tr>
              <td>ПЭК</td>
              <td>
                <a href="kabinet.pecom.ru/status/?_ga=1.183469792.732415654.1416418392" target="_blank" rel="nofollow">kabinet.pecom.ru/status/?_ga=1.183469792.732415654.1416418392</a>
              </td>
            </tr>
            <tr>
              <td>Деловые линии</td>
              <td>
                <a href="dellin.ru/tracker/" target="_blank" rel="nofollow">dellin.ru/tracker/</a>
              </td>
            </tr>
            <tr>
              <td>Автотрейдинг</td>
              <td>
                <a href="ae5000.ru/recipients/state/" target="_blank" rel="nofollow">ae5000.ru/recipients/state/</a>
              </td>
            </tr>
            <tr>
              <td>Байкал сервис</td>
              <td>
                <a href="baikalsr.ru/vidgets/tracking/" target="_blank" rel="nofollow">baikalsr.ru/vidgets/tracking/</a>
              </td>
            </tr>
            <tr>
              <td>Стейл</td>
              <td>
                <a href="steil.ru/status/" target="_blank" rel="nofollow">steil.ru/status/</a>
              </td>
            </tr>
            <tr>
              <td>ЖелДорЭкспедиция</td>
              <td>
                <a href="cabinet.jde.ru/index.html" target="_blank" rel="nofollow">cabinet.jde.ru/index.html</a>
              </td>
            </tr>
            <tr>
              <td>ЖелдорАльянс</td>
              <td>
                <a href="http://zhdalians.ru/" target="_blank" rel="nofollow">http://zhdalians.ru/</a>
              </td>
            </tr>
          </table>
        </div>

        <p>
          По ссылкам указаны страницы отслеживания местоположения груза в каждой транспортной компании, что позволит вам всегда быть в курсе срока доставки. Для того, чтобы узнать где сейчас ваш заказ введите в указанные поля реквизиты товарно-транспортной накладной.
        </p>
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        Как происходит доставка в Беларусь?
      </div>
      <div class="faq-item-answer">
        <p>
          Доставка в Беларусь осуществляется  транспортом ТК Деловые Линии, с  тарифами которой вы можете ознакомиться <a href="http://www.dellin.ru/service/international-freight/" target="_blank" rel="nofollow">здесь</a>
        </p>

        <p>
          Города доставки: Борисов, Брест, Витебск,  Гомель,  Гродно,  Добруш, Лида, Минск, Могилев, Орша.
        </p>

        <p>
          <span class="notice">Обратите внимание!</span>  У ТК Деловые Линии нет терминалов хранения груза в Беларуси, поэтому доставка осуществляется до конкретного адреса в указанных выше городах.  Оплату доставки производит покупатель.
        </p>
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        Как происходит доставка в Казахстан?
      </div>
      <div class="faq-item-answer">
        <p>
          Доставка в Казахстан осуществляется по тарифам транспортной компании ПЭК, с тарифами можно ознакомиться по <a href="http://pecom.ru/ru/services/directions/kazahstan/144601/" target="_blank" rel="nofollow">ссылке</a> или уточнить у менеджера.
        </p>

        <p>
          Города доставки:  Астана, Атырау, Актобе, Караганда, Кокшетау, Костанай, Павлодар, Петропавловск, Рудный, Семей, Темиртау, Уральск, Усть-Каменогорск, Экибастуз.
        </p>

        <p>
          <span class="notice">Обратите внимание!</span> Стоимость доставки в Казахстан оплачивает покупатель.
        </p>
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        Этапы оформления заказа
      </div>
      <div class="faq-item-answer">
        <p>
          Все довольно просто и прозрачно:
        </p>
        <ol>
          <li>Вы выбираете модель и нажимаете кнопку купить, либо связываетесь с менеджером по телефону для оформления заказа. Обязательно скажите менеджеру артикул интересующего вас изделия.</li>
          <li>Если вам нужен занос на этаж или дополнительная комплектация инвалидной коляски - свяжитесь с менеджером для уточнения стоимости услуги и комплектации.</li>
          <li>Далее вы переходите в корзину и заполняете свои контактные данные (телефон, электронная почта).</li>
          <li>На следующем этапе сайт предложит вам выбрать способ оплаты и доставки.
            <ul>
              <li>- <span class="notice">Оплата</span>.  Вам предлагается несколько вариантов: наличными, по счету, банковскими картами, наличными в салонах и онлайн-деньгами. Подробнее о каждом способе написано на странице «Оплата». С оплатой наличными все ясно – вам привозят – вы оплачиваете. Или приезжаете в офис и оплачиваете здесь. Если вы выбираете оплату по выставленному счету, на ваш e-mail приходит счет и вы оплачиваете его в любом банке. Если хотите оплатить банковской картой,  онлайн-деньгами или наличными в салонах/терминалах, то сайт переведет вас сперва на страницу платежной системы для ввода требуемых реквизитов, а затем вернет на наш сайт и поблагодарит за покупку.</li>
              <li>- <span class="notice">Доставка</span>. Также вы можете выбрать нужный способ доставки. Если вы хотите лично подъехать на склад и забрать коляску, то выбирайте «Самовывоз». Если вам нужна доставка по России, то сайт попросит вас ввести адрес доставки. При доставке в Казахстан или Беларусь выберите соответствующее поле и город  доставки.</li>
            </ul>
          </li>
          <li>После того, как вы оформили заказ, менеджер в любом случае с вами свяжется для уточнения всех деталей и согласует срок и время доставки.</li>
          <li>В установленный срок мы (или транспортная компания) привозим вам изделие, вы его осматриваете и подписываете документы о получении заказа. Если произошли накладки  – свяжитесь пожалуйста с вашим менеджером и объясните ему ситуацию. Согласитесь, всегда могут случиться незапланированные/ форс-мажорные ситуации и мы также от них не защищены. Если появились проблемы, мы обязательно их рассмотрим и постараемся решить в кратчайшие сроки.</li>
        </ol>
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        Я хочу быть дилером/представителем в регионе
      </div>
      <div class="faq-item-answer">
        С радостью рассмотрим ваше предложение, если вы заполните бланк заявки и вышлете его на почту <span  ng-bind="mainEmail"></span> с  темой письма «Хочу быть дилером/представителем  Invacare».
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        Я хочу взять коляску напрокат
      </div>
      <div class="faq-item-answer">
        Наш магазин не предоставляет инвалидные кресла напрокат, только на продажу.
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        Занимаетесь ли вы продажей подержанных инвалидных колясок
      </div>
      <div class="faq-item-answer">
        Нет, наш магазин продает только новые неиспользованные инвалидные кресла Invacare.
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-item-question">
        У вас остались вопросы? Пишите нам на <span ng-bind="mainEmail"></span> или звоните по телефону <span ng-bind="mainPhone"></span>.
      </div>
    </div>
  </div>
</div>