<div class="page-block page-block-index">

  <div class="header">
    <div class="inner">
      <div class="title">Мы занимаемся продажей инвалидных колясок</div>
      <div class="summary">
        Кроме того, второй робот крепко присоединяется к стене
      </div>
      <div class="actions">
          <a class="action-item" href="javascript:void(0)" ng-click="goToCatalog()">Перейти в каталог</a>
        </div>
      </div>
    </div>

    <div class="privilege__list">
      <div class="privilege__item">
        <div class="inner">
          <div class="privilege__col"></div>
          <div class="privilege__col">
            <div class="privilege__title">Супер коляски и наушники</div>
            <div class="privilege__text">
              Кроме того, второй робот крепко пивасик
              к этой стене, и у него есть возможность
              наклон, и он может плавно переходить
              на горизонтальные элементы на потолок
            </div>
            <a class="action-item" href="javascript:void(0)" ng-click="goToCatalog()">Перейти в каталог</a>
          </div>
        </div>
      </div>

      <div class="privilege__item">
        <div class="inner">
          <div class="privilege__col">
            <div class="privilege__title">Лучшее в мире обслуживание</div>
            <div class="privilege__text">
              Кроме того, второй робот крепко пивасик
              к этой стене, и у него есть возможность
              наклон, и он может плавно переходить
              на горизонтальные элементы на потолок
            </div>
            <a class="action-item" href="javascript:void(0)" ng-click="goToCatalog()">Перейти в каталог</a>
          </div>
          <div class="privilege__col"></div>
        </div>
        <div class="video-promo">
          <video autobuffer="autobuffer" autoplay="autoplay" loop="loop" muted="muted" preload="auto" volume="0">
            <source src="/video/service/service.mp4" />
            <source src="/video/service/service.ogg" />
            <source src="/video/service/service.webm" />
          </video>
        </div>
      </div>

      <div class="privilege__item privilege__item_delivery">
        <div class="inner">
          <div class="privilege__col"></div>
          <div class="privilege__col">
            <div class="privilege__title">Самая бережная доставка</div>
            <div class="privilege__text">
              Кроме того, второй робот крепко пивасик
              к этой стене, и у него есть возможность
              наклон, и он может плавно переходить
              на горизонтальные элементы на потолок
            </div>
            <a class="action-item" href="javascript:void(0)" ng-click="goToCatalog()">Перейти в каталог</a>
          </div>
        </div>
        <div class="video-promo">
          <video autobuffer="autobuffer" autoplay="autoplay" loop="loop" muted="muted" preload="auto" volume="0">
            <source src="/video/delivery/delivery.mp4" />
            <source src="/video/delivery/delivery.ogg" />
            <source src="/video/delivery/delivery.webm" />
          </video>
        </div>
      </div>
    </div>

    <div class="index-footer">
      <div class="inner">
        Начните совершать покупки прямо сейчас <a class="action-item" href="javascript:void(0)" ng-click="goToCatalog()">Перейти в каталог</a>
      </div>
    </div>
  </div>

</div>