<div class="page-block page-block-index">

  <div class="header">
    <div class="inner">
      <div class="title">Средства реабилитации Invacare</div>
      <div class="summary">
        Ещё одна причина — высокая мотивация сотрудников. Все хотят сделать хорошо — к большому сожалению, в русских студиях я такого не замечал. Здесь, когда нужно сделать
      </div>
      <div class="actions">
        <div class="action-buttons" ng-class="{show: !HeaderOrderCallFormIsOpen}">
          <div class="action-item action-item-call-form" ng-click="toggleHeaderOrderCallForm()">Получить консультацию</div>
          <a class="action-item" href="#!/catalog">Перейти в каталог</a>
        </div>

        <div class="order-form" ng-class="{show: HeaderOrderCallFormIsOpen}">
          <form ng-submit="orderCall()">
            <input type="text" class="order-phone" ng-model="orderCallData.phone" placeholder="Введите телефон" />
              <input type="submit" value="Ок" class="button" />
              <div class="form-close" ng-click="toggleHeaderOrderCallForm()"></div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="brief">
    <div class="brief-item">
      <img class="ico" src="images/brief/ico-usa.png" alt="" />
      <div class="title">Сделано в США</div>
      <div class="text">
        Составление брифа и оценка объема работ.
        Постановка пушки для определения
        характера еды
      </div>
    </div>
    <div class="brief-item">
      <img class="ico" src="images/brief/ico-microscope.png" alt="" />
      <div class="title">Супер технологии</div>
      <div class="text">
        Составление брифа и оценка объема работ.
        Постановка пушки для определения
        характера еды
      </div>
    </div>
    <div class="brief-item">
      <img class="ico" src="images/brief/ico-docs.png" alt="" />
      <div class="title">Возврат денег</div>
      <div class="text">
        Составление брифа и оценка объема работ.
        Постановка пушки для определения
        характера еды
      </div>
    </div>
  </div>

  <div class="info">
    <div class="title">Полезная информация</div>
    <div class="text">Если честно, это было сложно, но я смог</div>
  </div>

  <div class="reviews">
    <div class="review-prev review-arrow"></div>
    <div class="review-next review-arrow"></div>
    <div class="review-item">
      <div class="text">«Все, что душе угодно. Таким положением дел активно пользуются в первую очередь бедные слои населения»</div>
      <div class="author">Миша Архангел</div>
    </div>
  </div>

  <div class="carriage-transitions">
    <a href="#!/catalog?type=mechanic" class="transition-item transition-item-mechanic">
      <div class="caption">Перейти к механическим коляскам <span class="arrow">&rarr;</span></div>
    </a>
    <a href="#!/catalog?type=electric" class="transition-item transition-item-electric">
      <div class="caption">Перейти к электрическим коляскам <span class="arrow">&rarr;</span></div>
    </a>
  </div>

</div>