<div class="page-block page-block-info-part page-block-delivery-payments">
  <div class="payment">
    <div class="title">Оплата</div>
    <div class="text">
      <div style="font-weight: bold; margin-bottom: 20px;">Оплатить инвалидную коляску вы можете</div>
      <table class="payment-grid">
        <tr>
          <td class="payment-type"><img class="payment-ico" src="images/payment_types/ico_cash.png" /> Наличными в офисе</td>
          <td class="payment-type"><img class="payment-ico" src="images/payment_types/ico_ecash.png" /> Электронными деньгами</td>
        </tr>
        <tr>
          <td class="payment-type"><img class="payment-ico" src="images/payment_types/ico_credit.png" /> Оформив кредит</td>
          <td class="payment-type"><img class="payment-ico" src="images/payment_types/ico_bank_invoice.png" /> По выставленному счету в банке</td>
        </tr>
        <tr>
          <td class="payment-type"><img class="payment-ico" src="images/payment_types/ico_card.png" /> Банковскими картами</td>
          <td></td>
        </tr>
      </table>

      <p style="font-weight: bold; margin-top: 20px;">
        Если вы проживаете в Москве и Московской области, вы можете выбрать платеж 50/50!
        Вы вносите только 50% предоплаты перед заказом инвалидной коляски.
        Остальные 50% вы оплачиваете при доставке (наличными) или перед доставкой (при безналичной форме расчета)
      </p>
    </div>
    <div class="payments-list">

      <div class="payment-item">
        <div class="ico">
          <img src="images/ico-payment-cash.png" alt="" />
        </div>
        <div class="title">Наличными в офисе</div>
        <div class="text">
          <p>
            При покупке инвалидной коляски в Москве, вы можете оплатить заказ наличными в нашем офисе по адресу г. Москва, Киевское ш., стр. 2, офис 520 или курьеру при доставке.
            Также к вашим услугам 170 салонов оплаты наличиными по России:  Сбербанк, Связной, Московский Кредитный Банк, Евросеть и другие.
            Полный список салонов и комиссию можно посмотреть <a href="https://money.yandex.ru/pay/doc.xml?id=526209" target="_blank" rel="nofollow">здесь</a>.<br/>
            <span style="font-weight: bold;">Обратите вниание!</span> Максимальная сумма платежа в салонах — 15 000 рублей за один раз!
          </p>

          <div style="font-weight: bold">Как оплатить в салонах и терминалах:</div>
          <p>
            1. При оформлении заказа выберите способ оплаты “Наличными в салоне/терминале”.<br/>
            2. Вас перенаправит на сайт платежной системы, где нужно ввести свой номер мобильного телефона. На этот номер придет sms с указанием кода платежа.<br/>
            3. В удобном для вас терминале или салоне внесите наличные по этому коду.
          </p>

          <p>
            Скачать подробную инструкцию по оплате в салонах/терминалах (это гиперссылка на скачивание файла в ворде)
          </p>
        </div>
      </div>

      <div class="payment-item">
        <div class="ico">
          <img src="images/ico-credit.png" alt="" />
        </div>
        <div class="title">Кредит <img src="images/ico-credit-system.jpg" class="ico-credit-system" /></div>
        <div class="text">
          <p>
            Вы можете оформить покупку в кредит не выходя из дома - для этого в карточке товара нажмите кнопку “Купить в кредит”.
            Вас перенаправит на сайт кредитной системы “Купи в кредит”,
            где необходимо выбрать сумму первоначального платежа, срок кредита или предполагаемый ежемесячный платеж и внести свои паспортные и контактные данные.
            Все личные данные передаются строго конфиденциально и не доступны третьим лицам.
            После заполнения заявки  вам откроется окно с таймером, не закрывайте его! Дождитесь ответа кредитной системы и нажмите кнопку “Согласен” или “Не согласен”.  После одобрения банком кредитной заявки с вами свяжутся сотрудники банка для уточнения введенных данных, а также места и времени встречи для подписания документов. В течение недели представители банка подъедут  к вам для подписания всех необходимых документов. После чего с вами связываемся уже мы и уточняем место и время доставки заказа. И доставляем его вам.
          </p>

          <div style="font-weight: bold">Условия кредитования системы «КупиВкредит»:</div>
          <p>
            - Граждане России в возрасте от 18 до 75 лет.<br/>
            - Сумма кредитования от 3 000 до 200 000 рублей.<br/>
            - Первоначальный взнос - от 0%<br/>
            - Сроки кредитования - от 3 до 24 месяцев<br/>
            - Бесплатное погашение кредита по всей России (в более чем 160 тысяч партнерских точек приема платежей)
          </p>

          <div style="font-weight: bold">Преимущества онлайн-кредитования:</div>
          <p>
            - Для оформления покупки и кредита вам не нужно выходить из дома.<br/>
            - В 95% случаев решение по онлайн кредиту принимается за 2 минуты.<br/>
            - 0% по кредиту до даты первого платежа<br/>
            - Бесплатное досрочное погашение<br/>
            - Бесплатная доставка кредитного договора по вашему адресу.
          </p>

          <p>
            Если у Вас возникли вопросы, вы можете связаться напрямую с «Тинькофф Кредитные Системы» Банк по телефону горячей линии: 8 (800) 555-08-08 (звонок по России бесплатный и круглосуточный)
          </p>
        </div>
      </div>

      <div class="payment-item">
        <div class="ico">
          <img src="images/ico-payment-card.png" alt="" />
        </div>
        <div class="title">Банковские карты Visa и Mastercard</div>
        <div class="text">
          <p>
            Выберите при оформлении заказа способ оплаты “Банковскими картами”.
            Вас перенаправит на страницу платежной системы, где необходимо ввести реквизиты вашей карты.
            После совершения платежа на указанный вами мобильный телефон придет подтверждение об успешном переводе денег.
          </p>
          <p>
            <span style="font-weight: bold;">Обратите вниание!</span> Мы не берем комиссию за оплату картами.
          </p>
        </div>
      </div>

      <div class="payment-item">
        <div class="ico">
          <img src="images/ico-payment-online.png" alt="" />
        </div>
        <div class="title">Онлайн-деньги</div>
        <div class="text">
          <p>
            Под онлайн-деньгами мы подразумеваем Яндекс.Деньги, WebMoney и др. электронные кошельки.
          </p>

          <p>
            <span style="font-weight: bold;">Обратите вниание!</span> Максимальная сумма единоразового платежа - 15 тыс. рублей.
          </p>

          <div style="font-weight: bold">Как оплатить заказ электронными деньгами:</div>
          <p>
            -Яндекс.Деньги - подтвердить совершение платежа платежным паролем или паролем, высланным по sms<br/>
            -WebMoney - указать номер телефона, к которому привязан кошелек. На указанный номер придет sms с кодом платежа - вы вводите этот код и пароль от WebMoney.
          </p>
          <p>
            Скачать инструкцию по оплате онлайн-деньгами (это ссылка на скачивание документа в ворд)
          </p>
        </div>
      </div>

      <div class="payment-item">
        <div class="ico">
          <img src="images/ico-payment-bank.png" alt="" />
        </div>
        <div class="title">Банковский перевод</div>
        <div class="text">
          <p>
            При оформлении заказа выберите способ оплаты “Выставьте счет”, после чего на ваш e-mail придет счет с реквизитами нашей компании.
            Его можно оплатить в любом банке вашего региона или же просто указать в банке реквизиты перевода, указанные в счете.
          </p>
          <p>
            <span style="font-weight: bold;">Обратите вниание!</span> Банковский перевод осуществляется порядка 3-х рабочих дней, т.е. оплату мы увидим только через 3 дня после ее совершения.
            Если вы хотите ускорить процесс, воспользуйтесь услугами банка Уралсиб, т.к. наш расчетный счет размещается в этом банке, а перевод между счетами одного банка занимает 1 день.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>