<div class="page-block page-block-product" ng-controller="ProductCtrl">
  <div class="main-card">

    <div class="breadcrumbs">
      <a ng-href="/catalog/{{carriageTypeIdToCaption[product.kind_id]}}"><span ng-bind="product.kind.name"></span> коляски</a>
      <span class="arrow">
        <i class="fa fa-chevron-right"></i>
      </span>
      <span ng-bind="product.name"></span>
    </div>

    <div class="main-card-inner">
      <div class="image-view">
        <div class="view-item" ng-class="{selected: viewItemSelected == 0}" ng-click="changeView(0)" ng-if="product.rotation_images.length > 0">360&deg;</div>
        <div class="view-item" ng-class="{selected: viewItemSelected == 1}" ng-click="changeView(1)" ng-if="product.images.length > 0">3D</div>
        <div class="view-item view-item-video" ng-class="{selected: viewItemSelected == 2}" ng-click="changeView(2)" ng-if="product.video_embed_code">Видео</div>
      </div>

      <div class="card-container">
        <div class="card-col card-image card-image-main">
          <div class="image-container">
            <img class="img" ng-src="{{domain + product.photo.original}}" alt="{{product.name}}" ng-show="!spinObj.spinReady" />

            <div class="animation-container" ng-show="viewItemSelected == 0" ng-class="{'enable-rotation': product.rotation_images.length > 0}" sprite-spin="spinObj" spin-images="product.rotation_images" spin-ready="spinReady"></div>
            <div class="spin-ico" ng-show="viewItemSelected == 0 && spinObj.spinReady && product.rotation_images.length > 1">Прокрутить 360&deg;</div>
            <div class="spin-legend" ng-show="viewItemSelected == 0 && spinObj.spinReady && product.rotation_images.length > 1">Используйте мышь для прокрутки</div>

            <div class="threed-object-container">
              <div class="zoom-slider" ng-show="viewItemSelected == 1" ng-if="product.images.length > 0">
                <div class="zoom-control zoom-plus">
                  <div class="zoom-control-inner"></div>
                </div>
                <div id="slider-vertical"></div>
                <div class="zoom-control zoom-minus disabled">
                  <div class="zoom-control-inner"></div>
                </div>
              </div>

              <div class="threed-object" ng-if="viewItemSelected == 1 && product.images.length > 0" threed-rotation="" threed-config="threedConfig"></div>
            </div>

            <div class="threed-hint overlay" ng-if="hintEnabled && product.images.length > 0">
              <div class="center">
                <img src="images/ico-3d-hint-2.png" alt="" width="58" height="60" />
                <div class="hint-text">
                  Двигайте изображение
                  в любом направлении
                </div>
                <img src="images/ico-3d-hint-1.png" alt="" width="66" height="66" />
                <div class="hint-text">
                  Используйте кнопки
                  для масштабирования
                </div>
                <button class="continue btn btn-default" ng-click="continueView()">Продолжить</button>
              </div>
            </div>

            <div class="video-container" ng-show="viewItemSelected == 2">
              <iframe width="506" height="506" ng-src="{{videoPath}}"></iframe>
            </div>

          </div>
        </div>
        <div class="card-col card-details">
          <div class="card-header">
            <div class="button button-compare" ng-click="compareProduct(product)" ng-class="{disabled: characters.length == 0 || compareDisabled}">Добавить товар к сравнению</div>

            <div class="artikul">Артикул: <span ng-bind="product.art"></span></div>

            <div class="stock-type" ng-class="{'in-stock': item.in_stock}">
              <div class="stock-indicator"></div>
              <span ng-if="item.in_stock">В наличии</span>
              <span ng-if="!item.in_stock">Нет в наличии</span>
            </div>
          </div>
          <div class="name" ng-bind="product.name"></div>

          <div class="text hidden" ng-bind-html="product.description"></div>

          <div class="price-block">
            <div class="price">
              <span ng-bind="product.price"></span> руб.
            </div>
            <div class="button button-credit" ng-click="creditBuy()">Можно купить в кредит</div>
          </div>

          <div class="buy-button">
            <div class="button" ng-click="buyProduct('main')">Добавить в корзину</div>
            <div class="button button-test-drive" ng-click="toggleOrderTestDriveForm()">Записаться на тест-драйв</div>
          </div>

          <div class=""></div>

        </div>
      </div>
    </div>
  </div>

  <div class="gallery">
    <div class="gallery-item" ng-repeat="item in photo_elements" style="background: url('{{domain + item.photo.original}}') no-repeat 50% 50% transparent; background-size: cover;" ng-class="{'gallery-item-hidden': $index > 7 && !photoMoreVisible}">
      <div class="overlay"></div>
      <div class="caption" ng-bind-html="item.description"></div>
    </div>
    <div class="load-more" ng-class="{'load-more-open': photoMoreVisible}" ng-if="photo_elements.length > 8" ng-click="togglePhotoMoreVisible()">
      <span ng-if="!photoMoreVisible">Показать еще фото</span>
      <span ng-if="photoMoreVisible">Скрыть</span>
    </div>
  </div>

  <div class="technical-characteristics">
    <div class="characters-grid">
      <div class="grid-col col-left">
        <div role="tabpanel">

          <ul class="nav nav-tabs" role="tablist">
            <li ng-repeat="item in charactersTabs" ng-class="{active : charactersActiveTab == $index}">
              <a data-toggle="tab" ng-click="selectTab($index)" ng-bind="item.title"></a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane" ng-class="{active : charactersActiveTab == 0}">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,
            </div>
            <div class="tab-pane" ng-class="{active : charactersActiveTab == 1}">
              <div ng-if="characters.length > 0">
                <table>
                  <tr ng-repeat="item in characters" ng-class="{'character-item-hidden': $index > 9 && !charactersMoreVisible}">
                    <td class="caption" ng-bind="item.name"></td>
                    <td class="value" ng-bind-html="item.value"></td>
                  </tr>
                </table>
                <div class="load-more" ng-class="{'load-more-open': charactersMoreVisible}" ng-if="characters.length > 8" ng-click="toggleCharactersMoreVisible()">
                  <span ng-if="!charactersMoreVisible">Показать еще характеристики</span>
                  <span ng-if="charactersMoreVisible">Скрыть</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-col col-right col-images product-list">
        <div class="product-item product-mini-card">
          <div class="image">
            <img src="images/temp/product-image.jpg" alt="" />
          </div>
          <div class="product-details">
            <div class="artikul">
              Арт: <span ng-bind="product.art"></span>
            </div>
            <div class="stock-type" ng-class="{'in-stock': product.in_stock}">
              <div class="stock-indicator"></div>
              <span ng-if="product.in_stock">В наличии</span>
              <span ng-if="!product.in_stock">Нет в наличии</span>
            </div>
          </div>
          <div class="name" ng-bind="product.name"></div>
          <div class="product-compare">+ Добавить к сравнению</div>

          <div class="product-footer">
            <div class="buy">
              <a ng-href="#!/catalog/1" class="btn-buy">Купить</a>
            </div>
            <div class="price"><span ng-bind="product.price"></span>.-</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="test-drive-form" ng-show="OrderTestDriveFormIsOpen">
    <div class="inner">
      <div class="form-title">Запись на бесплатный тест-драйв</div>
      <div class="form-description">
        После заполнения формы вам перезвонит наш менеджер для уточнения
        условий предоставления тест-драйва
      </div>
      <form class="form-horizontal" ng-submit="orderTestDrive()">
        <div class="form-group">
          <input type="text" placeholder="Введите имя" class="form-control" ng-model="orderTestDriveData.name" />
        </div>
        <div class="form-group">
          <input type="text" placeholder="Введите телефон" class="form-control" ng-model="orderTestDriveData.phone" />
        </div>
        <div class="form-group">
          <input type="text" placeholder="Введите почту" class="form-control" ng-model="orderTestDriveData.email" />
        </div>
        <div class="form-group">
          <input type="submit" value="Записаться" class="form-control btn-order" />
        </div>
        <div class="form-group">
          <span ng-click="toggleOrderTestDriveForm()">Отмена</span>
        </div>
      </form>
    </div>
  </div>
  <div class="test-drive-form-overlay" ng-show="OrderTestDriveFormIsOpen" ng-click="toggleOrderTestDriveForm()"></div>

</div>