<div class="page-block page-block-product" ng-controller="ProductCtrl">
  <div class="main-card">

    <div class="image-view">
      <div class="view-item" ng-repeat="item in viewItems" ng-class="{selected: $index == viewItemSelected}" ng-bind="item" ng-click="changeView($index)"></div>
    </div>

    <div class="card-container">
      <div class="card-col card-image">
        <div class="image-container">
          <img src="images/temp/product-main-image.jpg" alt="" />

          <div class="zoom-controls" ng-if="viewItemSelected == 1">
            <div class="control-item plus"></div>
            <div class="control-item minus"></div>
          </div>

          <div class="threed-hint" ng-if="hintEnabled">
            <div class="center">
              <img src="images/ico-3d-hint-1.png" alt="" width="66" height="66" />
              <div class="hint-text">
                Используйте кнопки
                для масштабирования
              </div>
              <img src="images/ico-3d-hint-2.png" alt="" width="58" height="60" />
              <div class="hint-text">
                Двигайте изображение
                в любом направлении
              </div>
              <button class="continue btn btn-default" ng-click="continueView()">Продолжить</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-col card-details">
        <div class="col-container">
          <div class="artikul" ng-bind="product.artikul"></div>
          <div class="name" ng-bind="product.name"></div>
          <div class="text">
            <div class="text-container">
              <div ng-bind="product.text"></div>
              <div class="more" ng-click="additionalTextShow = true" ng-show="product.additional_text.length > 0">Подробнее</div>
            </div>

            <div class="additional-text" ng-show="additionalTextShow">
              <div class="close" ng-click="additionalTextShow = false"></div>
              <div class="additional-text-container">
                <div class="title" ng-show="additionalTextItemVisible == 0">Подробно об Invacare Kite</div>
                <div class="item" ng-repeat="item in product.additional_text" ng-show="additionalTextItemVisible == $index">
                  <div class="text" ng-bind="item.text"></div>
                </div>
              </div>
              <div class="arrows">
                <div class="arrow prev" ng-click="prevItem()" ng-class="{disabled: prevArrowDisabled}"></div>
                <div class="arrow next" ng-click="nextItem()" ng-class="{disabled: nextArrowDisabled}"></div>
              </div>
            </div>

          </div>
          <div class="price"><span ng-bind="product.price"></span>.-</div>

          <div class="other">
            <div class="other-item refunds">
              <div class="btn btn-default" ng-click="refundPopupShow = true">Узнать больше о возврате денег</div>

              <div class="popup popup-more" ng-show="refundPopupShow">
                <div class="close" ng-click="refundPopupShow = false"></div>
                <div class="title">Возврат денег</div>
                <div class="text">
                  Kite создан для активных пользователей, любящих активное времяпрепровождение на улице, но нуждающихся также и в компактной инвалидной коляске для ежедневного пользования. <span class="more">Подробнее</span>
                </div>
              </div>

            </div>
          </div>

          <div class="buy-button">
            <a class="btn button blink-basket" ng-click="buyProduct()" href="javascript:void(0)">Добавить в корзину</a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="technical-characteristics">
    <div class="inner">
      <div class="characters-grid col" ng-if="product.technical_characteristics">
        <div class="title">Технические характеристики</div>
        <table>
          <tr ng-repeat="item in product.technical_characteristics" ng-class="{hidden: $index > 5, visible: showHiddenCharacters}">
            <td class="caption" ng-bind="item.name"></td>
            <td class="value" ng-bind="item.value"></td>
          </tr>
        </table>
        <div class="load-more btn btn-default" ng-click="toggleMoreCharacters()">
          <span ng-show="!showHiddenCharacters">Загрузить еще</span>
          <span ng-show="showHiddenCharacters">Скрыть</span>
        </div>
      </div>
      <div class="options col">
        <div class="title">Доставка</div>
        <div class="text">
          <p>Kite создан для активных пользователей, любящих активное времяпрепровождение на улице, но нуждающихся также и в компактной инвалидной коляске для ежедневного пользования.</p>
          <p>Уникальная система подвески гарантирует удобство передвижения и надежное сцепление колес с дорожным покрытием.</p>
        </div>
      </div>
    </div>

  </div>
</div>