<div class="page-block page-block-info-part page-block-return-guarantee">
  <div class="return">
    <div class="title">Возврат</div>
    <div class="text">
      <p style="font-weight: bold; margin-bottom: 20px;">
        Обмену и возврату подлежат только неиспользованные инвалидные коляски в заводской упаковке в случае, если изделие неисправно!
      </p>
      <p>
        В соответствии со ст. 25 Закона Российской Федерации «О защите прав потребителей»  медицинская мебель и оборудование обмену и возврату не подлежат.
        Тем не менее, учитывая ваши конкретные обстоятельства, мы можем принять товар обратно, вернув оплату, за исключением оплаты услуг доставки.
        При этом, в соответствии с законодательством, возврат товара возможен только в случае, если он не был в употреблении: товар не собран, сохранен его товарный вид, сохранена заводская упаковка, потребительские свойства, пломбы, фабричные ярлыки, а также имеется товарный или кассовый чек, либо другой подтверждающий оплату документ.
      </p>
    </div>
  </div>
  <div class="guarantee">
    <div class="title">Гарантия</div>
    <div class="text">
      <p style="font-weight: bold; margin-bottom: 20px;">
        Что делать, если инвалидная коляска все же оказалась неисправной:
      </p>

      <p>
        1) вы сохраняете все документы, чеки и упаковку от инвалидной коляски
      </p>
      <p>
        2) пишете заявление в свободной форме на <span  ng-bind="mainEmail"></span> и прикладываете фотографии неисправности
      </p>
      <p>
        3) в течение 3-х дней наш отдел рекламации рассматривает ваше заявление и связывается с вами для обсуждения дальнейших действий.
      </p>
      <p>
        4) если это гарантийный случай или заводской брак, мы отправляем коляску в сервисный центр производителя, где неисправность устраняется или происходит замена коляски.
      </p>
    </div>
    <table class="guarantee-grid">
      <tr>
        <td class="caption">
          Гарантия на инвалидные коляски с электроприводом
        </td>
        <td>
          <div>-на аккумуляторные батареи - 6 месяцев</div>
          <div>-на электронику - 1 год</div>
          <div>-на раму - 3 года</div>
        </td>
      </tr>

      <tr>
        <td class="caption">
          Гарантия на инвалидные коляски с ручным приводом
        </td>
        <td>
          2 года
        </td>
      </tr>
    </table>
  </div>
</div>