<div class="title-2">Как получить компенсацию затрат на средство реабилитации, прописанное в Вашем ИПР</div>

<p>
  Согласно Федеральному закону от 24 ноября 1995 г. №181-ФЗ «О социальной защите инвалидов в Российской Федерации» каждый инвалид имеет право на средства технической реабилитации для восстановления и компенсации утраченных способностей.
</p>

<p>
  Специально для этих целей разрабатывается Индивидуальная Программа Реабилитации инвалида (сокращенно ИПР). Этот комплекс реабилитационных мероприятий составляется на основе посыльного листа и других медицинских документов, и содержит перечень технических средств реабилитации, которые могут быть  предоставлены бесплатно, или на основе компенсации.
</p>

<p>
  Причем, вы можете самостоятельно выбрать средство реабилитации, которое будет соответствовать описанию в ИПР, и получить денежное возмещение от государства, в размере, не превышающем финансовой квоты по вашему региону.
</p>

<p>
  Как оформить Индивидуальную Программу Реабилитации?
</p>

<p>
  Для того, чтобы получить ИПР, Вам нужно взять у лечащего врача справку №088/у-06 и пройти всех необходимых специалистов. Чаще всего это ЭКГ, флюорография, невролог, терапевт и анализы крови и мочи, однако список может отличаться.
</p>

<p>
  После этого, с печатью лечащего врача, паспортом, полисом ОМС и справкой об инвалидности, вам нужно посетить территориальное бюро МСЭ (медико-социальной экспертизы). Они и принимают решение об утверждении программы ИПР. После подачи документов вы должны получить свою программу ИПР на руки в течение двух недель.
</p>

<p>
  Если вы самостоятельно приобрели средства технической реабилитации, то имеете право на компенсацию. Для этого вам нужно обратиться в УСЗН и взять два бланка заявления для получения компенсации. Для травм или заболеваний, полученных на производстве, надо обратиться в территориальный орган Фонда Соц.Страхования РФ.
</p>

<p>
  Вместе с заявлением, вам нужно предоставить:
</p>

<p>
  1) паспорт (свидетельство о рождении и паспорт родителя, если компенсация оформляется на ребенка)<br/>
  2) справку об инвалидности<br/>
  3) СНИЛС (свидетельство обязательного пенсионного страхования)<br/>
  4) ИПР<br/>
  5) товарный и кассовый чек изделия<br/>
  6) паспорт и сертификат соответствия с синей печатью<br/>
  7) регистрационные документы компании-продавца<br/>
  8) Сберкнижку.
</p>

<p>
  Наша компания предоставляет все необходимые документы, для оформления компенсации.
</p>

<p>
  После этого УСЗН или ФСС в течение тридцати дней принимает решение о компенсационной выплате.
</p>