<div class="title-2">Как получить компенсацию затрат на средство реабилитации, прописанное в Вашем ИПР</div>

<p>
  Индивидуальная программа реабилитации инвалида (ИПР) - комплекс реабилитационных мероприятий по восстановлению и компенсации утраченных способностей инвалидов, прописанный на основе посыльного листа и иных медицинских документов касающихся рассматриваемого заболевания и разработанный федеральными учреждениями МСЭ.
</p>

<p>
  ИПР инвалида оформляется в виде единого документа по установленному образцу и содержит перечень технических средств реабилитации (ТСР), предоставляемых инвалиду бесплатно, или с предоставлением компенсации в случае, если техническое средство реабилитации приобретено самостоятельно. Если Вам по тем, или иным причинам не подходит средство реабилитации, которое Вам предлагают получить бесплатно, Вы можете самостоятельно приобрести любое изделие, которое соответствует описанию в ИПР и получить денежное возмещение в размере его полной стоимости. В случае превышения официально установленной финансовой квоты на ТСР по региону Вашего проживания, вы можете претендовать на частичное возмещение Ваших расходов.
</p>

<p>
  Для того, чтобы получить ИПР, Вам необходимо обратиться к лечащему врачу, или к зам. главврача по экспертизе, в поликлинике по месту жительства, где Вам оформят справку №088/у-06. С этой справкой (посыльным листом) нужно будет обойти нескольких врачей (сдать анализы крови и мочи, сделать ЭКГ, флюорографию, сходить на прием к терапевту и неврологу), после чего вернуться к лечащему врачу и поставить печать на справке. С оформленным посыльным листом Вы отправляетесь в Ваше территориальное бюро МСЭ для прохождения экспертизы. ИПР утверждается решением медико-социальной экспертизы, т.е. МСЭК, адрес которой можно уточнить в поликлинике. Через две недели после подачи документов в МСЭ, Вы получаете Вашу программу ИПР.
</p>

<p>
  Для получения компенсации необходимо обратиться в УСЗН (бывший СОБЕС), или в территориальный орган Фонда Социального Страхования Российской Федерации если травма/заболевание получены на производстве, и взять 2 экземпляра бланка заявления на получение компенсации.
</p>

<p>
  Документы, которые необходимо приложить к заявлению:
</p>

<p>
  1) товарный и кассовый чек, подтверждающие расходы по самостоятельному приобретению технического средства реабилитации и (или) оказанию услуги инвалидом за собственный счет.<br/>
  2) Паспорт изделия и сертификат соответствия с синей печатью.<br/>
  3) Регистрационные документы компании, продавшей ТСР.<br/>
  4) Паспорт, если оформляется на ребенка: свидетельство о рождении, паспорт родителя, который будет получать компенсацию.<br/>
  5) Справка, подтверждающая инвалидность.<br/>
  6) Страховое свидетельство обязательного пенсионного страхования, содержащее страховой номер индивидуального лицевого счета (СНИЛС).<br/>
  7) Программа реабилитации (ИПР).<br/>
  8) Сберкнижка.
</p>

<p>
  Решение о компенсационной выплате принимается УСЗН или ФСС в течении тридцати дней.
</p>