<div class="title-2">Основные отличия</div>
<p>
  <span class="heading">Приводные колёса.</span> Если Вы приобретаете кресло-коляску для домашнего использования, можно остановить свой выбор на кресле с цельнолитыми шинами, непритязательными в уходе и обладающими достаточными амортизационными качествами для преодоления дверных порогов и других небольших неровностей. Если предполагаются поездки по открытому грунту, необходимым условием становится наличие у кресла-коляски пневматических накачиваемых камер в колёсах.
</p>
<p>
  <span class="heading">Рисунок протектора.</span> Производители предлагают широкий выбор покрышек, спроектированных, в том числе, и для серьёзного бездорожья. Стоит запомнить две вещи. Первое - для кресла-коляски в стандартном применении вполне достаточно резины со слик-протектором (обычная дорожная резина). И второе - чем объёмнее рисунок протектора, тем ваш коляска проходимее, но, вместе с проходимостью увеличивается и ваша энергозатратность.
</p>
<p>
  <span class="heading">Передние поворотные колёса.</span> Увеличение диаметра поворотных роликов повышает мягкость хода, комфорт в преодолении препятствий, увеличивая, заодно и инертность устройства при маневрировании. Диаметр 5” - это стандартный диаметр передних роликов для среднего пользователя. Больший диаметр - это повышенная мягкость хода и маневренность, подходящая для передвижения по прямой и/или по бездорожью. Диаметр меньше пяти подходит либо для комнатных кресел, либо для активных кресел-колясок с таким же темпераментным характером, как у их владельцев.
</p>

<div class="title-2">Класс кресла-коляски</div>
<p>
  <span class="heading">Кресла-коляски универсального назначения.</span> Это кресла-коляски без специальных технических особенностей, обладающие функциональным минимумом и подходящие для большинства заболеваний. Невысокая цена, возможность индивидуальной подгонки кресла под пользователя. Наиболее популярный класс устройств среди пациентов, у которых в перспективе есть возможность начать обходиться без него. В случае затяжных реабилитаций, это тоже подходящий агрегат, но уже как домашнее кресло, или «одно из».
</p>
<p>
  <span class="heading">Активные кресла-коляски.</span> Оптимальный класс реабилитационных устройств для активных молодых людей, так как использование современных материалов и технологий в сочетании с возможностью точной подстройки под габариты и манеру управления, высокие допустимые нагрузки, дают возможность вести полноценный образ жизни с минимальными ситуативными неудобствами. Оптимальный вариант для пользователей, относящихся к креслу-коляске, как к продолжению собственного организма.
</p>
<p>
  <span class="heading">Кресла-коляски с рычажным приводом.</span> Подобные кресла-коляски применяются для перемещения на большие расстояния, или при наличии, например, тетрапареза в реабилитационной картине, когда у пользователя сохраняются непострадавшими функции только одной верхней конечности.
</p>
<p>
  <span class="heading">Электрические кресла-коляски.</span> Кресла-коляски оборудованные электромоторами являются отличным выбором для использования на территории загородного участка или для поездок на большие расстояния (на одной зарядке некоторых моделей можно проехать до 40 км, при условии экономного расходования заряда аккумулятора). Минус электрокресел - это довольно внушительные габариты и вес, требующие под себя пандусы, широкие коридоры и пр., а также немаленькая цена.
</p>
<p>
  <span class="heading">Кресло-коляски с санитарным оснащением.</span> Кресла-коляски, оборудованные туалетными устройствами и сделанные из моющихся материалов, которые могут находиться под струёй воды. Съёмное судно с герметичной крышкой позволяет использование кресла с туалетом в качестве прикроватного туалетного устройства.
</p>
<p>
  <span class="heading">Кресла-коляски для детей.</span> Детские кресла-коляски можно отнести к отдельной группе реабилитационных устройств, потому что при их производстве учитываются характерные черты детских заболеваний и родительские требования по утилитарности. Детские коляски для больных ДЦП сочетают в себе внешний вид и функционал простой детской коляски с необходимым реабилитационным оснащением, таким как фиксаторы «майки», ограничивающие подвижность, подголовники, регулируемые абдукторы.
</p>
<p>
  <span class="heading">Гериатрические кресла и кресла-каталки.</span> Данный класс устройств объединяет маленький размер всех четырёх колёс и невозможность самостоятельного перемещения. Простые кресла-каталки находят применение в стационарах, когда «острый период» совсем недавно пошел на убыль, а технически сложные, продуманные изделия, применяются в качестве домашних кресел для пожилых пользователей. В таких случаях кресло должно иметь возможность независимой смены положения, ортопедическое сиденье «автомобильного типа», и съёмный столик.
</p>


<div class="title-2">Конструктивные элементы, материалы, варианты исполнения</div>
<p>
  <span class="heading">Материалы сиденья.</span> Чаще всего встречаются сиденья кресел-колясок изготовленные из полиэстера, нейлона и 3D-сетки эир-меш. Полиэстер, это, конечно, наиболее бюджетный вариант обивки, но обладает худшей вентилируемостью среди трёх вышеупомянутых материалов (тем не менее, этот показатель находится среди допустимых). Второй – нейлон. Качественный, приятный на ощупь, хорош в чистке, но цена его уже выше по сравнению с первым вариантом. Эир-меш – сетка, как у летних кроссовок, идеальный материал для наиболее активного и длительного нахождения в кресле-коляске, но он не подходит для холодного времени года. Другие материалы, такие как экокожа, дартекс, или простой кожзам, в разной степени отвечают трём критериям: удобная чистка, гипоалергенность и износостойкость.
</p>
<p>
  <span class="heading">Конструкция сиденья.</span> Сиденье обычно поставляется или может быть доукомплектовано собственноручно дополнительной подушкой. Самостоятельно можно приобрести противопролежневую подушку, сделанную специально для кресла-коляски. Это необходимо делать при повышенной массе пользователя, склонности к отёкам, или в постоперационный период. Для предупреждения некроза мягких тканей и возникновения пролежней используются подушки из ячеистого материала с памятью формы. Для удобства в использовании при более серьёзных расстройствах организма, применяются сиденья и спинки с ременной основой, где чехол надевается на ременной остов с индивидуально регулируемой силой натяжения. Благодаря этому достигается оптимальная геометрия сидячего места пользователя.
</p>
<p>
  <span class="heading">Спинка.</span> Вышеупомянутая ременная основа спинки удобна в тех случаях, когда имеется выраженная деформация позвоночного столба или иные конституционные изменения. При серьёзных заболевания может использоваться удлинённая спинка с ограничивающим подвижность шейного отдела подголовником, латеральными фиксаторами. Спинки всех современных кресел-колясок обладают люмбальным изгибом, которым, с ортопедической точки зрения, должно обладать любое сиденье. Спинки могут оснащаться сменным углом наклона, возможностью перевода в горизонтальное положение. Это может быть необходимо как для отдыха пациента, так и для проведения врачебных манипуляций без необходимости перемещения пользователя. При наличии поднимающихся подножек это делает практически мгновенно достижимым лежачее положение.
</p>
<p>
  <span class="heading">Конструкция подножек.</span> Простые, несъёмные подножки, интегрированные в конструкцию рамы, применяются, как правило, в условиях стационаров, или в качестве домашнего кресла-коляски. Но для самостоятельно поднимающихся с кресел пользователей такая конструкция неудобна. Для компенсации этого неудобства, а также для компактного хранения, основное количество представленных на рынке моделей оборудовано съёмными и поворотными подножками с поднимающимися ножными опорами. Фиксационные рычаги подножек у таких устройств, обычно находятся на уровне «чуть ниже колена» пользователя, то есть на удобном расстоянии для самостоятельного доступа. Такая конструкция позволяет самостоятельно размещаться в кресле-коляске и вставать из него без посторонней помощи.
</p>
<p>
  <span class="heading">Конструкция ножных опор.</span> 99.9% современных кресел-колясок обладают «телескопической» регулировкой длины под голень, позволяющей производить настройку под габариты пользователя. Технически продвинутые кресла-коляски обладают также регулировкой угла наклона ножной опоры относительно горизонтали. Предельно простое и лёгкое конструктивное решение, а именно ножная опора, объединяющая стороны рамы, применяется в активных креслах-колясках, сообщая этим агрегатам минимальный вес, надёжность и дополнительную жесткость конструкции. Вставать с подобных активных устройств, конечно, не так удобно, как с кресел с отворачивающимися подножками, но для активных пользователей данный аспект не столь критичен.
</p>
<p>
  <span class="heading">Ремень под  голень.</span> Оптимальное решение - это когда ремни под голень функционально разделены и крепятся с одной стороны к «стволу» подножки, а с другой - к внутреннему краю ножной опоры. Объединяющий подножки ремень под голень будет не так удобен для самостоятельных перемещений в случае, если подножки отводятся во внешнюю сторону и если пользователь обладает излишним весом. В крайних случаях ожирения или просто плохом кровоснабжении мы советуем выбирать кресла с ортопедическими самоориентирующимися опорами, выполненными в виде мягких упоров, и сводящими к минимуму риск длительных нарушений кровообращения.
</p>
<p>
  <span class="heading">Варианты подлокотников.</span> На эту конструктивную деталь существуют разные точки зрения, - на её необходимые особенности и необходимость вообще. Но что совершенно точно, так это то, что несъёмные подлокотники существенно затрудняют размещение пользователя в коляске и выход из него. Съёмные же подлокотники удобны для передислокаций при наличии помощника, они абсолютно надёжно закрепляются и полностью удаляются с конструкции при совершении перемещений. Самые распространённые и подходящие для самостоятельного использования откидные подлокотники, оборудованные регулируемой высотой поручней, добавляют креслу-коляске универсальности, пользователю комфорта и являются, на наш взгляд, оптимальным решением в этой области.
</p>
<p>
  <span class="heading">Материал подлокотников.</span> Материал подлокотников может быть разным, и с трудно прогнозируемым сроком службы в том числе. Например, некоторое время назад, на форумах довольно активно обсуждались трескающиеся на морозе подлокотники Meyra, выполненные из цельных блоков ППУ. О централизованном отзыве серии кресел по этой причине мы, конечно, не услышали, но прецедент имел место. Обобщая наш опыт, можно сказать, что чем проще подлокотники с конструктивной точки зрения, тем они долговечнее, и чем неприхотливее в чистке материал из которого они сделаны, тем они удобнее в использовании.
</p>
<p>
  <span class="heading">Тормоза-фиксаторы/для сопровождающего.</span> Тормоза-фиксаторы с колодками, прижимающимися прямо к покрышкам есть у всех кресел и с их непреложной необходимостью и так всё ясно. Чтобы заблокировать кресло в неподвижном положении при перемещении в/из него, или просто во время обеда, необходимо воспользоваться именно ими, а вот тормоза для сопровождающего могут показаться необязательной деталью, хотя это не так. Особенно в ситуации с массивными пользователями тормоза для сопровождающего существенно облегчают выполнение задач сопровождающим и экономят его силы. При весе пользователя более 80-ти кг, тормоза для сопровождающего будут экономить не только силы сопровождающего, а и здоровье пользователя, и хорошее настроение обоих.
</p>

<div class="title-2">Выбор кресла-коляски подходящего по размеру</div>
<div class="title-3">1. Ширина сиденья.</div>
<div class="image">
  <img src="/images/info/1.png" alt="" />
</div>
<p>
  Для определения необходимой ширины сиденья сажаем пользователя прямо, с двух сторон бёдер приставляем по книге и измеряем расстояние между ними, и к полученной цифре прибавляем по 5 см. Это обеспечит достаточную защиту от потертостей и пролежней, даст достаточный комфорт без ощущения стеснённости. Слишком большая ширина сиденья может со временем привести к искривлению позвоночника. Для проверки ширины при покупке кресла-коляски существует простой, но вполне рабочий способ. Между пользователем и боковыми стенками кресла-коляски должны свободно проходить ладони рук.
</p>

<div class="title-3">2. Глубина сиденья.</div>
<div class="image">
  <img src="/images/info/2.png" alt="" />
</div>
<p>
  Основная неприятность сиденья с недостаточной глубиной, это возникновение сильного давления на область седалищных бугров, увеличивающего риск возникновения пролежней, и смещение центра тяжести, повышающего вероятность опрокидывания. Слишком большая глубина так же ведёт к дискомфорту, к созданию лишнего трения и давления. Для выбора правильной глубины сиденья измеряют в сидячем положении расстояние от внутреннего сгиба колена до ягодицы на уровне спины. Отнимаем от полученного значения 5-7,5 см. Полученное число, это и есть Ваша правильная глубина сиденья. Для справки, обычно расстояние между подколенной областью и краем сиденья не больше 3-4 пальцев. В пересчете на сантиметры, это и есть 5-7,5 см.  
</p>

<div class="title-3">3. Высота сиденья</div>
<div class="image">
  <img src="/images/info/3.png" alt="" />
</div>
<p>
  При слишком низком положении сиденья, седалищные бугры будут испытывать слишком высокое давление, и сидеть будет неудобно. Со слишком высоким сиденьем будет сложно, или даже невозможно подъехать к столу. Для того, чтобы определить необходимую в Вашем случае высоту, нужно измерить длину согнутой в колене ноги, от края подошвы до нижнего края бедра и прибавить к полученному числу 5 см. Если планируется использование противопролежневой подушки, то ее толщина тоже учитывается. ВАЖНО обращать внимание на индивидуальные пожелания пользователя!
</p>

<div class="title-3">4. Высота спинки</div>
<div class="image">
  <img src="/images/info/4.png" alt="" />
</div>
<p>
  Правильная высота спинки определяется таким способом: сидящий пациент вытягивает руки параллельно полу. В этом положении необходимо измерить расстояние от сиденья до подмышечной впадины и от полученного числа вычесть 10 см. Полученное число, это ваша минимальная высота спинки. Если нужна спинка повыше, то ее подбирают в соответствии с конституцией и предпочтениями пациента, руководствуясь врачебными рекомендациями.
</p>

<div class="title-3">5.Высота подлокотников</div>
<div class="image">
  <img src="/images/info/5.png" alt="" />
</div>
<p>
  Необходимая высота подлокотников рассчитывается следующим образом: В сидячем положении измеряется расстояние от локтя до сиденья, и к полученной величине прибавляется 2,5 см. Это и есть ваша высота подлокотников. Если подлокотники окажутся слишком низко, то пользователь будет вынужден сутулиться и комфортная, естественная координация движений будет нарушена. Если подлокотники будут располагаться слишком высоко, то в этом кресле будет просто неудобно сидеть. Подлокотники с регулируемой высотой являются хорошим решением, позволяющим индивидуальную подстройку кресла «на месте».
</p>

<p style="margin: 50px 0 0; font-style: italic;">
  Воспользовавшись предложенной в этой статье информацией, вы сможете осуществить предварительные замеры пользователя перед покупкой кресла. Дополнив их телефонной консультацией с нашими менеджерами, вы сможете подобрать кресло, отвечающее именно Вашим необходимостям.
</p>