<div class="title-2">Виды кресел-колясок</div>

<p>
  Перед покупкой кресла-коляски нужно определиться, какой класс изделия подходит вам или вашим близким. Классификация инвалидных кресел довольно условная, однако, можно выделить несколько видов:
</p>

<p>
  <span class="heading">1.	Универсальные кресла-коляски механического типа.</span><br/>
  Изделия, имеющие минимальный функционал, не обладающие специальными особенностями. Как правило, отличаются доступной ценой и подходят для широкого спектра заболеваний. Не требует индивидуального подхода при подборе.
</p>
<p>
  <span class="heading">2.	Электрические кресла-коляски (инвалидные кресла с электроприводом).</span><br/>
  Изделия, которые перемещаются за счет электрических двигателей. Большой плюс таких колясок в независимости перемещений человека, хорошей проходимости и возможности передвигаться на большие расстояния. Однако, для таких кресел-колясок требуется специальное оборудование в месте проживания (грузовой лифт, пандус). Также они имеют достаточно большой вес и высокую, относительно механических, стоимость.
</p>
<p>
  <span class="heading">3.	Кресла-коляски активные.</span><br/>
  Основные особенности колясок данного типа: легкость, хорошая маневренность и высокая проходимость. Так, перемещение на таких креслах-колясках становятся удобным и дома и на улице. Чаще всего такие кресла выбирают молодые люди, однако, при должной комплектации (например, высокая спинка), они прекрасно подойдут и для более взрослых людей.
</p>
<p>
  <span class="heading">4.	Кресла-коляски с санитарным оснащением.</span><br/>
  Изделия, оборудованные туалетным судном или предназначенные для использования в душе. Они сделаны из непромокаемых материалов, что позволяет принимать душ, и облегчает использование.
</p>
<p>
  <span class="heading">5.	Кресла-коляски с рычажным приводом.</span><br/>
  Подходят людям с хорошо развитой мускулатурой плеч и рук. Эти коляски позволяют самостоятельно перемещаться на большие расстояния, причем возможна езда по относительно неровным поверхностям. Также могут использоваться людьми со сложными параличами, при активности только одной верхней конечности.
</p>
<p>
  <span class="heading">6.	Детские кресла-коляски.</span><br/>
  Учитывают все особенности строения детского организма. Отличаются ярким дизайном и расцветкой, что тоже немаловажно для детей с ограниченными возможностями.
</p>
<p>
  <span class="heading">7.	Кресла-коляски для больных ДЦП.</span><br/>
  Являются сочетанием детского инвалидного кресла и дополнительных функций коляски: страховочные ремни, абдуктор, капюшон и другие.
</p>
<p>
  <span class="heading">8.	Кресла-каталки и гериатрические кресла.</span><br/>
  Используются для перемещения больных по стационару. Четыре колеса, небольших по диаметру, не позволяют больным перемещаться самостоятельно. Некоторые продвинутые гериатрические кресла могут применяться как домашние для пожилых людей. Они имеют расширенный функционал и больше возможностей для самостоятельного пользования.
</p>

<p>
  Для того, чтобы подобрать комфортное кресло-коляску необходимо учитывать несколько факторов:
</p>

<p>
  <span class="heading">- где будет использоваться кресло (на улице или в помещении)</span><br/>
  Для уличных прогулок необходимо приобретать кресло-коляску с пневматическими задники колесами, большими передники колесами и хорошими покрышками. Если же вы будете использовать инвалидное кресло только дома или в учреждении, то можно обойтись цельнолитыми шинами, которые не требуют особого ухода.
</p>
<p>
  <span class="heading">- физическое состояние человека и его заболевание</span><br/>
  Для каждого вида заболевания можно подобрать коляску с различными функциональными особенностями: высотой спинки, управлением одной рукой и многими другими.
  Получить полную консультацию по ассортименту и отличиям можно у наших менеджеров.
</p>