<div class="title-3">Советы по выбору кресел-колясок</div>

<p>
  На что следует обратить внимание, при выборе комфортной коляски? Об этом и расскажем в статье.
</p>

<p>
  Первое, на что стоит обратить внимание – <span class="heading">это материалы</span>, из которых изготовлено сиденье.
  Полиэстер – это самый бюджетный вариант. Если вы располагаете чуть большими средствами и хотите выбрать качественный,
  долговременный и приятный на ощупь материал - смело выбирайте нейлон. Для длительного нахождение в коляске отлично
  подходит сетка air-mesh.
  Благодаря особой конструкции ткани она имеет хорошую прочность и обеспечивает постоянную циркуляцию воздуха,
  однако этот материал используется для самых дорогих моделей колясок.
  Если же вам необходима частая гигиеническая обработка сиденья,
  вам подойдет обивка из искусственной кожи.
  Только учтите, что этот материал не очень комфортен, особенно летом.
</p>

<p>
  Следующей важной деталью является <span class="heading">конструкция сиденья</span>.
  Она может быть на ременной основе, что обеспечивает дополнительный комфорт и индивидуальную настройку под человека.
  Также, в дополнение к основному сиденью, может идти в комплекте, или докупаться самостоятельно, противопролежневая
  подушка.
  Она предотвращает возникновение пролежней и особо показана при увеличенной массе тела или склонности к отекам.
</p>

<p>
  <span class="heading">Спинка</span> – вот следующий немаловажный элемент кресла-коляски.
  Современные инвалидные коляски имеют спинки с люмбальным изгибом.
  Также, как и сиденье, спинка может быть выполнена из ременной основы.
  Это нужно для адаптации спинки к особенностям человека.
  Удлиненной спинкой обладают кресла-коляски для серьезных спинальных заболеваний.
  Дополнительным функционалом коляски является возможность регулировки наклона и переводом в лежачее положение.
</p>

<p>
  Даже самые простые кресла-коляски обязательно оборудованы <span class="heading">подножками</span>.
  Они могут быть, как несъемными (у недорогих моделей), так и съемными.
  Последние, конечно, наиболее удобны и не затрудняют вставание человека с кресла.
</p>

<p>
  <span class="heading">Ножные опоры</span> под голень позволяют удобней зафиксировать ноги на подножке.
  Как правило, все опоры регулируются по длине.
  Дополнительной особенностью может быть возможность регулировки угла наклона к земле – это используется у самых
  современных колясок.
</p>

<p>
  <span class="heading">Ремень под голень</span> является альтернативой ножным опорам.
  Он может объединять обе опоры, а может крепиться к каждой отдельно.
</p>

<p>
  Особо обратить внимание следует на <span class="heading">тормоза-фиксаторы и тормоза для сопровождающего</span>.
  Фиксаторы есть у каждого кресла-коляски – они позволяют оставлять кресло в неподвижном состоянии, когда это необходимо.
  Тормоза для сопровождающего – это скорее удобное дополнение к инвалидному креслу.
  Они располагаются на ручках коляски и помогают сопровождающему контролировать остановку кресла.
  Очень пригодятся, если вес перевозимого больше 80 кг.
</p>

<p>
  Необязательным элементов кресла-коляски являются <span class="heading">подлокотники</span>.
  При несъемных конструкциях менее удобно садиться в кресло, однако с подлокотниками находиться в нем гораздо комфортней.
  Решением этой проблемы могут стать откидные подлокотники.
  Кстати, высота подлокотника более продвинутых колясок может регулироваться.
  При выборе материала подлокотника учтите, что эта деталь кресла-коляски очень подвержена загрязнению, поэтому советуем
  выбирать простые в уходе материалы.
</p>

<p>
  Мы разобрались, из каких деталей состоит кресло-коляска и как их правильно подобрать.
  Теперь нужно понять, как выбрать коляску подходящего размера. Для этого нужно смотреть на несколько параметров:
</p>
<p>
  1.	<span class="heading">Высота спинки</span>. Посадите пациента с вытянутыми руками и измерьте расстояние от
  сиденья до подмышечной впадины. Вычитайте 10 см и получите минимальную высоту спинки.
  Более высокая спинка может быть необходима по медицинским показаниям или желанию самого пациента.
</p>
<p>
  2.	 <span class="heading">Ширина сиденья</span>. Для комфортной ширины сиденья между пациентом и боковыми стенками
  коляски должны свободно проходить руки. Измерить эту ширину можно так: померить расстояние между самыми
  выступающими точками бедер в сидячем положении. Прибавить к этому значению 5 см.
</p>
<p>
  3.	<span class="heading">Высота сиденья</span>. Идеальная высота сиденья – это длина ноги в согнутом положении
  от пола до бедра плюс 5 см.
</p>
<p>
  4.	<span class="heading">Высота подлокотников</span>. Хорошим вариантом является регулируемый подлокотник.
  Тогда можно правильно подстроить его высоту под удобство человека. Однако если такой возможности нет, высоту
  можно определить следующим образом: расстояние от основания локтя до верхнего края сиденья плюс 2,5 см.
</p>

<p>
  Надеемся, наши советы помогут вам подобрать правильный вариант кресла-коляски.
  Наши менеджеры всегда готовы помочь Вам в выборе, дать совет или ответить на вопросы.
</p>