<div class="title-3">Основание компании Invacare</div>
<p>
  История бренда Invacare уходит своими корнями в 1885 год, когда компания Worthington  расширила производство кресел-колясок. Производственные линии расширялись, ассортимент менялся, но основным направлением всегда оставалось производство кресел-колясок.
</p>

<div class="title-3">Invacare в конце ХХ века</div>

<p>
  В 1970 бренд Invacare принадлежал компании Technicare, производителю диагностического оборудования из Кливленда с А. Малахией Миксоном на посту вице-президента по маркетингу. Позже, в 1978 году, Technicare была приобретена корпорацией Johnson&Johnson, выставившей Invacare на продажу.
</p>
<p>
  Малахией Миксон, заинтересованный в приобретении компании, взял займ в размере 4,3 млн долларов и осуществил дополнительное привлечение капиталов на сумму 2,5 млн, чтобы купить Invacare за 7.8 млн. долларов. Сделка была завершена 28 декабря 1979 года.
</p>

<div class="title-3">Invacare в наши дни</div>

<p>
  Сегодня Invacare, это компания с годовым объёмом продаж 1.7 млрд. долларов. Компания Invacare поменяла представление широкой общественности о реабилитационном оборудовании, путём внедрения множества собственных изобретений, таких, например, как бесщёточный двигатель, или микропроцессорное управление системой питания.
</p>
<p>
  Многократные и успешные диверсификации позволили компании значительно расширить свой ассортимент, и на сегодняшний день являться концерном, объединяющим более 30300 партнёров по всему земному шару. Сегодня Invacare является мировым лидером в производстве не только кресел-колясок, а всего спектра реабилитационного оборудования и оборудования для ухода за больными.
</p>