.page-block-buy{
  padding: 105px 30px 30px;
  font-size: 16px;
  background: none #fff;
  text-align: center;
}

.page-block-buy .products{
  width: 435px;
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
  text-align: left;
}

.page-block-buy .products .products-list .products-list-item{
  margin-bottom: 20px;
  background: none #f7f7f7;
  border-radius: 3px;
  padding: 20px 40px 20px 140px;
  font-size: 18px;
  line-height: 20px;
  position: relative;
  box-shadow: 0 2px 2px #e6e6e4;
  min-height: 90px;
}
.page-block-buy .products .products-list .products-list-item:last-child{
  margin-bottom: 0;
}

.page-block-buy .products .products-list .products-list-item .image{
  position: absolute;
  left: 20px;
  top: 20px;
  bottom: 20px;
  width: 95px;
}
.page-block-buy .products .products-list .products-list-item .image img{
  border-radius: 3px;
  max-width: 100%;
}

.page-block-buy .products .products-list .products-list-item .info{
  font-size: 12px;
  color: #808080;
}
.page-block-buy .products .products-list .products-list-item .info .info-item{
  display: inline-block;
}
.page-block-buy .products .products-list .products-list-item .info .info-item.artikul{
  margin-right: 20px;
}

.page-block-buy .products .products-list .products-list-item .info .info-item.stock-type .stock-indicator{
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: none #ffc13e;
  margin-right: 5px;
}
.page-block-buy .products .products-list .products-list-item .info .info-item.stock-type.in-stock .stock-indicator{
  background: none #4eda6f;
}

.page-block-buy .products .products-list .products-list-item .name{
  font-size: 16px;
  font-family: 'MuseoSansCyrl-500';
  margin-top: 10px;
  line-height: 20px;
}

.page-block-buy .products .products-list .products-list-item .actions{
  margin-top: 15px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.page-block-buy .products .products-list .products-list-item .actions .action-item{
  display: inline-block;
}
.page-block-buy .products .products-list .products-list-item .actions .action-item.count{
  margin-right: 15px;
}
.page-block-buy .products .products-list .products-list-item .actions .action-item.count .count-item {
  display: inline-block;
  vertical-align: middle;
}
.page-block-buy .products .products-list .products-list-item .actions .action-item.count .count-button{
  width: 20px;
  height: 20px;
  border: solid 2px #ccc;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.page-block-buy .products .products-list .products-list-item .actions .action-item.count .count-button.count-button:after{
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
}
.page-block-buy .products .products-list .products-list-item .actions .action-item.count .count-button.count-button-plus:after{
  background: url('../images/ico-basket-count-plus.png') no-repeat 0 0 transparent;
}
.page-block-buy .products .products-list .products-list-item .actions .action-item.count .count-button.count-button-minus:after{
  background: url('../images/ico-basket-count-minus.png') no-repeat 0 0 transparent;
}
.page-block-buy .products .products-list .products-list-item .actions .action-item.count .count-button.count-button.disabled:after{
  opacity: 0.3;
}

.page-block-buy .products .products-list .products-list-item .actions .action-item.count .count-button.disabled{
  cursor: default;
}

.page-block-buy .products .products-list .products-list-item .actions .action-item.count .count-number{
  line-height: 20px;
  font-size: 14px;
  font-family: 'MuseoSansCyrl-700';
  width: 27px;
  text-align: center;
}

.page-block-buy .products .products-list .products-list-item .actions .action-item.remove{
  cursor: pointer;
  color: #ffc13e;
  font-family: 'MuseoSansCyrl-500';
}
.page-block-buy .products .products-list .products-list-item .actions .action-item.remove:after{
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  background: url('../images/ico-basket-remove.png') no-repeat 0 0 transparent;
  margin-left: 5px;
}

.page-block-buy .products .products-list .products-list-item .price{
  margin-top: 10px;
  font-family: 'MuseoSansCyrl-700';
  font-size: 20px;
  margin-top: 15px;
}


/**********************/
.page-block-buy .checkout{
  width: 635px;
  background: none #fff;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.page-block-buy .checkout .tabs{
  padding: 10px 20px;
  background: none #f2f1ed;
}
.page-block-buy .checkout .tab-item{
  float: left;
  padding-right: 10px;
  cursor: pointer;
  width: 33%;
  text-align: center;
}
.page-block-buy .checkout .tab-item:last-child{
  padding-right: 0;
}
.page-block-buy .checkout .tabs:after{
  content: '';
  display: block;
  clear: both;
}

.page-block-buy .checkout .tab-item .inner{
  position: relative;
  padding: 12px;
}

.page-block-buy .checkout .tab-item.tab-active{
  background: none #fff;
  color: #ffc13e;
  cursor: default;
  border-radius: 5px;
  box-shadow: 0 2px 3px #dad9d6;
}

.page-block-buy .checkout .tab-content{
  margin-top: 17px;
  padding: 20px 20px 10px;
  background: none #f2f1ed;
}

.page-block-buy .checkout .tab-content .inner{
  margin-top: 25px;
  background: none #fff;
  border-radius: 5px;
  box-shadow: 0 2px 3px #dad9d6;
  padding: 20px;
}

.page-block-buy .checkout .tab-content .title{
  font-size: 18px;
}

.page-block-buy .checkout .tab-content .checkout-errors{
  color: #b94a48;
}
.page-block-buy .checkout .tab-content .checkout-errors.remote-error{
  margin-bottom: 20px;
  line-height: 24px;
}
.page-block-buy .checkout .tab-content .checkout-errors.remote-error .callback{
  cursor: pointer;
  text-decoration: underline;
  color: #5098de;
}

.page-block-buy .checkout .tab-content .contacts .form-horizontal .form-group{
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}
.page-block-buy .checkout .tab-content .contacts .form-horizontal .form-group:last-child{
  margin-bottom: 0;
}
.page-block-buy .checkout .tab-content .contacts .form-horizontal .form-control{
  font-size: 16px;
  padding: 15px 20px;
  line-height: 16px;
  height: auto;
}
.page-block-buy .checkout .tab-content .contacts .form-horizontal .form-control.error{
  border: solid 1px #b94a48;
}

.page-block-buy .checkout .tab-content .contacts .row{
  margin-right: -5px;
  margin-left: -5px;
}
.page-block-buy .checkout .tab-content .contacts .row .col-sm-6{
  padding-right: 5px;
  padding-left: 5px;
}

.page-block-buy .checkout .tab-content .delivery-list:after{
  content: '';
  display: block;
  clear: both;
}

.page-block-buy .checkout .tab-content .delivery-list .delivery-item{
  display: inline-block;
  min-height: 194px;
  height: auto;
  padding: 20px 20px 80px 20px;
  margin: 0 5px 9px 0;
  background: none #fff;
  position: relative;
  width: 48%;
  vertical-align: top;
  border: solid 2px #ccc;
}
.page-block-buy .checkout .tab-content .delivery-list .delivery-item.selected{
  background: none #ffc13e;
  color: #fff;
  border-color: #ffc13e;
}

.page-block-buy .checkout .tab-content .delivery-list .delivery-item .price{
  color: #808080;
  margin-top: 10px;
}
.page-block-buy .checkout .tab-content .delivery-list .delivery-item.selected .price{
  color: #fff;
}

.page-block-buy .checkout .tab-content .delivery-list .delivery-item .price .summ{
  white-space: nowrap;
}
.page-block-buy .checkout .tab-content .delivery-list .delivery-item .choose-button{
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 10px;
  border: solid 2px #5098de;
  cursor: pointer;
  text-align: center;
  color: #5098de;
}

.page-block-buy .checkout .tab-content .delivery-list .delivery-item.selected .choose-button{
  border: solid 2px #fff;
  color: #fff;
}

.page-block-buy .checkout .tab-content .delivery-list .payment-item.e-money .payment-sub-list{
  display: none;
  margin-top: 20px;
  font-size: 14px;
}
.page-block-buy .checkout .tab-content .delivery-list .payment-item.e-money.selected .payment-sub-list{
  display: block;
}
.page-block-buy .checkout .tab-content .delivery-list .payment-item.e-money .payment-sub-list .sub-list-item{
  margin-bottom: 10px;
}
.page-block-buy .checkout .tab-content .delivery-list .payment-item.e-money .payment-sub-list .sub-list-item:last-child{
  margin-bottom: 0;
}
.page-block-buy .checkout .tab-content .delivery-list .payment-item.e-money .payment-sub-list .sub-list-item label{
  cursor: pointer;
}
.page-block-buy .checkout .tab-content .delivery-list .payment-item.disabled{
  opacity: 0.5;
  cursor: default;
}
.page-block-buy .checkout .tab-content .delivery-list .payment-item.disabled .choose-button{
  cursor: default;
}
.page-block-buy .checkout .tab-content .delivery-list .payment-item.disabled .choose-button:hover{
  background: none #fff;
  color: #5098de;
}

.page-block-buy .checkout .continue-button{
  color: #fff;
  padding: 0 20px 20px;
  text-align: center;
  background: none #f2f1ed;
}
.page-block-buy .checkout .continue-button .inner{
  background: none #ffc13e;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}
.page-block-buy .checkout .continue-button .inner:hover{
  background-color: #ffca57;
}

.page-block-buy .checkout .continue-button.disabled .inner{
  background: none #ccc;
}