.page-block-buy{
  padding: 105px 30px 30px;
  font-size: 16px;
  background: none #f2f1ed;
}
.page-block-buy .products{
  width: 720px;
  margin: 0 auto;
}

.page-block-buy .products .products-list .products-list-item{
  margin-bottom: 20px;
  background: none #fff;
  border-radius: 3px;
  padding: 20px 40px 20px 100px;
  font-size: 18px;
  line-height: 20px;
  position: relative;
  box-shadow: 0 2px 2px #e6e6e4;
  min-height: 90px;
}
.page-block-buy .products .products-list .products-list-item:last-child{
  margin-bottom: 0;
}

.page-block-buy .products .products-list .products-list-item .image{
  position: absolute;
  left: 10px;
  top: 10px;
  width: 70px;
  height: 70px;
}
.page-block-buy .products .products-list .products-list-item .image img{
  border-radius: 3px;
}
.page-block-buy .products .products-list .products-list-item .price{
  color: #ffc13e;
  margin-top: 10px;
}
.page-block-buy .products .products-list .products-list-item .remove{
  position: absolute;
  width: 16px;
  height: 16px;
  background: url('../images/ico-brand-close.png') no-repeat 0 0 transparent;
  background-size: 100%;
  right: 20px;
  top: 50%;
  margin-top: -8px;
  cursor: pointer;
}


/**********************/
.page-block-buy .checkout{
  width: 720px;
  background: none #fff;
  margin: 20px auto 0;
  padding: 30px;
}
.page-block-buy .checkout .tabs{
  padding: 10px;
  background: none #f2f1ed;
}
.page-block-buy .checkout .tab-item{
  float: left;
  padding-right: 10px;
  cursor: pointer;
  width: 33%;
  text-align: center;
}
.page-block-buy .checkout .tab-item:last-child{
  padding-right: 0;
}
.page-block-buy .checkout .tabs:after{
  content: '';
  display: block;
  clear: both;
}

.page-block-buy .checkout .tab-item .inner{
  position: relative;
  padding: 12px;
}

.page-block-buy .checkout .tab-item.tab-active{
  background: none #fff;
  color: #ffc13e;
  cursor: default;
  border-radius: 5px;
  box-shadow: 0 2px 3px #dad9d6;
}

.page-block-buy .checkout .tab-content{
  margin-top: 17px;
  padding: 30px 30px 10px;
  background: none #f2f1ed;
}

.page-block-buy .checkout .tab-content .inner{
  margin-top: 25px;
  background: none #fff;
  border-radius: 5px;
  box-shadow: 0 2px 3px #dad9d6;
  padding: 20px;
}

.page-block-buy .checkout .tab-content .title{
  font-size: 18px;
}

.page-block-buy .checkout .tab-content .contacts .form-horizontal .form-group{
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}
.page-block-buy .checkout .tab-content .contacts .form-horizontal .form-group:last-child{
  margin-bottom: 0;
}
.page-block-buy .checkout .tab-content .contacts .form-horizontal .form-control{
  font-size: 16px;
  padding: 15px 20px;
  line-height: 16px;
  height: auto;
}


.page-block-buy .checkout .tab-content .contacts .row{
  margin-right: -5px;
  margin-left: -5px;
}
.page-block-buy .checkout .tab-content .contacts .row .col-sm-6{
  padding-right: 5px;
  padding-left: 5px;
}

.page-block-buy .checkout .tab-content .delivery-list:after{
  content: '';
  display: block;
  clear: both;
}

.page-block-buy .checkout .tab-content .delivery-list .delivery-item{
  display: inline-block;
  min-height: 194px;
  height: auto;
  padding: 20px 20px 80px 20px;
  margin: 0 5px 9px 0;
  background: none #fff;
  position: relative;
  width: 48%;
  vertical-align: top;
  border: solid 2px #ccc;
}
.page-block-buy .checkout .tab-content .delivery-list .delivery-item.selected{
  background: none #ffc13e;
  color: #fff;
  border-color: #ffc13e;
}

.page-block-buy .checkout .tab-content .delivery-list .delivery-item .price{
  color: #808080;
  margin-top: 10px;
}
.page-block-buy .checkout .tab-content .delivery-list .delivery-item.selected .price{
  color: #fff;
}

.page-block-buy .checkout .tab-content .delivery-list .delivery-item .price .summ{
  white-space: nowrap;
}
.page-block-buy .checkout .tab-content .delivery-list .delivery-item .choose-button{
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 10px;
  border: solid 2px #5098de;
  cursor: pointer;
  text-align: center;
  color: #5098de;
}

.page-block-buy .checkout .tab-content .delivery-list .delivery-item.selected .choose-button{
  border: solid 2px #fff;
  color: #fff;
}

.page-block-buy .checkout .continue-button{
  color: #fff;
  padding: 0 30px 30px;
  text-align: center;
  background: none #f2f1ed;
}
.page-block-buy .checkout .continue-button .inner{
  background: none #ffc13e;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}
.page-block-buy .checkout .continue-button .inner:hover{
  background-color: #ffca57;
}

.page-block-buy .checkout .continue-button.disabled .inner{
  background: none #ccc;
}