.page-block-catalog{
  background: none #f2f1ed;
}

.page-block-catalog .catalog-head{
  background: none #fff;
  padding: 20px 80px 10px;
  font-size: 16px;
}

.page-block-catalog .product-list{
  padding: 30px;
}