/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:      -o-transform, opacity;
  transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.page-block-catalog{
  background: none #f2f1ed;
}

.page-block-catalog .catalog-head{
  background: none #fff;
  padding: 20px 80px 5px;
  font-size: 16px;
}
.page-block-catalog .filters{
  text-align: center;
}

.page-block-catalog .filters .filter-item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 20px;
  border: medium none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #808080;
  background: none #f2f1ed;
  -webkit-transition: color .3s ease, opacity .3s ease, border-color .3s ease, background-color .3s ease;
  -moz-transition: color .3s ease, opacity .3s ease, border-color .3s ease, background-color .3s ease;
  -o-transition: color .3s ease, opacity .3s ease, border-color .3s ease, background-color .3s ease;
  transition: color .3s ease, opacity .3s ease, border-color .3s ease, background-color .3s ease;
}
.page-block-catalog .filters .filter-item:hover{
  background-color: #ffc13e;
  color: #fff;
}

.page-block-catalog .filters .filter-item:last-child{
  margin-right: 0;
}
.page-block-catalog .filters .filter-item.checked{
  color: #fff;
  background-color: #ffc13e;
}

.page-block-catalog .filters .filter-type{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  background: none #fff;
  border-radius: 5px;
  position: relative;
  padding: 0;
  border: medium none;
}

.page-block-catalog .filters .filter-item .btn.btn-dropdown{
  padding: 8px 35px 8px 20px;
  color: #808080;
  font-size: 16px;
  border: solid 1px #ccc;
  text-align: left;
  outline: medium none;
  min-width: 149px;
  -webkit-transition: color .3s ease, opacity .3s ease, border-color .3s ease, background-color .3s ease;
  -moz-transition: color .3s ease, opacity .3s ease, border-color .3s ease, background-color .3s ease;
  -o-transition: color .3s ease, opacity .3s ease, border-color .3s ease, background-color .3s ease;
  transition: color .3s ease, opacity .3s ease, border-color .3s ease, background-color .3s ease;
}
.page-block-catalog .filters .filter-item.filter-price .btn.btn-dropdown{
  padding-right: 40px;
}

.page-block-catalog .filters .filter-item .btn.btn-dropdown .caret{
  position: absolute;
  right: 20px;
  top: 50%;
}
.page-block-catalog .filters .filter-item .dropdown-menu{
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  left: 0!important;
  top: 100%!important;
  font-size: 16px;
}
.page-block-catalog .filters .filter-item.filter-price .dropdown-menu{
  width: auto;
  max-width: none;
}

.page-block-catalog .filters .filter-item .dropdown-menu li a{
  padding: 15px 20px;
  cursor: pointer;
}

.page-block-catalog .filters .filter-item .btn.btn-dropdown{
  color: #fff;
  background-color: #807d79;
  border: medium none;
}
.page-block-catalog .filters .filter-item .btn.btn-dropdown:hover{
  background-color: #999791;
}
.page-block-catalog .filters .filter-item .dropdown-menu{
  background: none #807d79;
}
.page-block-catalog .filters .filter-item .dropdown-menu > li > a{
  color: #fff;
  background: none #807d79;
  border-top: solid 1px #999691;
  border-bottom: solid 1px #666461;
}
.page-block-catalog .filters .filter-item .dropdown-menu > li:first-child > a{
  border-top: medium none;
}
.page-block-catalog .filters .filter-item .dropdown-menu > li:last-child > a{
  border-bottom: medium none;
}

.page-block-catalog .filters .filter-item .dropdown-menu > li > a:hover,
.page-block-catalog .filters .filter-item .dropdown-menu > .active a{
  background: none #999691;
  color: #fff;
}

.page-block-catalog .filters .filter-item.filter-carriage-type .btn.btn-dropdown{
  background-color: #ffc13e;
}
.page-block-catalog .filters .filter-item.filter-carriage-type .btn.btn-dropdown:hover{
  background-color: #ffca57;
}
.page-block-catalog .filters .filter-item.filter-carriage-type .dropdown-menu{
  background: none #fff;
}
.page-block-catalog .filters .filter-item.filter-carriage-type .dropdown-menu > li > a{
  color: #808080;
  background: none #fff;
  border-top: medium none;
  border-bottom: medium none;
}
.page-block-catalog .filters .filter-item.filter-carriage-type .dropdown-menu > li > a:hover,
.page-block-catalog .filters .filter-item.filter-carriage-type .dropdown-menu > .active > a{
  background: none #ffc13e;
  color: #fff;
}

.page-block-catalog .product-list{
  padding: 30px;
}
.page-block-catalog .product-list .product-item{
  width: 272px;
  margin-right: 28px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
  position: relative;
  text-decoration: none;
  color: #272e32;
  padding: 0 20px 65px;
  background: none #fff;
  box-shadow: 0 2px 2px #dad9d6;
  border-radius: 3px;
}
.page-block-catalog .product-list .product-item:last-child{
  margin-right: 0;
}
.page-block-catalog .product-list .product-item .image{
  text-align: center;
  margin: 0 -20px 0 -20px;
}
.page-block-catalog .product-list .product-item .image img{
  width: 100%;
}

.page-block-catalog .product-list .product-item .name{
  margin-top: 26px;
  font-size: 18px;
  line-height: 30px;
  font-family: 'MuseoSansCyrl-500';
  color: #000;
}
.page-block-catalog .product-list .product-item .description{
  margin-top: 10px;
  font-size: 16px;
  line-height: 28px;
}
.page-block-catalog .product-list .product-item .more{
  position: absolute;
  font-size: 16px;
  bottom: 25px;
  left: 20px;
}
.page-block-catalog .product-list .product-item .more:after{
  content: '';
  display: block;
  clear: both;
}
.page-block-catalog .product-list .product-item .more .btn-details{
  color: #ffc13e;
  font-family: 'MuseoSansCyrl-700';
  background: url('../images/ico-brand-detail.png') no-repeat right center transparent;
  line-height: 20px;
  float: left;
  padding-right: 30px;
  text-decoration: none;
  display: block;
}
.page-block-catalog .product-list .product-item .more .btn-details:hover{
  color: #ffca57;
}

.page-block-catalog .product-list .product-item .price{
  position: absolute;
  right: 20px;
  bottom: 21px;
  font-size: 18px;
  font-family: 'MuseoSansCyrl-700';
}