.header-layout{
  position: relative;
  padding: 22px 50px 20px 180px;
  min-height: 121px;
  background: none #fff;
  text-align: left;
  line-height: 10px;
  z-index: 101;
}

.header-layout .logo{
  position: absolute;
  left: 50px;
  top: 20px;
}
.header-layout .logo a{
  text-decoration: none;
}

.header-layout .navigation a{
  color: #000;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}
.header-layout a:hover{
  opacity: 1;
}

.header-layout .navigation ul{
  float: left;
}
.header-layout .navigation ul li{
  display: inline-block;
  font-size: 14px;
  margin-right: 30px;
}
.header-layout .navigation .navigation_bottom ul li{
  margin-right: 40px;
  font-size: 16px;
}
.header-layout .navigation ul li:last-child{
  margin-right: 0;
}

.header-layout .navigation .navigation_top{
  padding-bottom: 10px;
  border-bottom: solid 1px #e6e6e6;
  height: 41px;
}

.header-layout .navigation .navigation_bottom{
  padding-top: 20px;
  font-size: 16px;
  font-family: "MuseoSansCyrl-500";
}
.header-layout .navigation .navigation_bottom a{
  opacity: 1;
}

.header-layout .navigation .item-right{
  float: right;
}
.header-layout .navigation_top:after{
  content: '';
  display: block;
  clear: both;
}
.header-layout .contacts-item{
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
}
.header-layout .contacts-item:last-child{
  margin-right: 0;
}
.header-layout .contacts-item a{
  opacity: 1;
}

.header-layout .basket{
  float: right;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-500';
  color: #1e2326;
  margin-left: 40px;
}
.header-layout .basket:after{
  content: '';
  display: inline-block;
  width: 14px;
  height: 16px;
  background: url('../images/ico-basket.png') no-repeat 0 0 transparent;
  margin-left: 6px;
  vertical-align: middle;
}
.header-layout .basket .caption{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: 2px;
}
.header-layout .basket .caption a{
  text-decoration: none;
  color: #1e2326;
}

.header-layout .search{
  display: inline-block;
  vertical-align: top;
  line-height: 10px;
  font-size: 14px;
  opacity: 0.5;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  position: relative;
  top: -2px;
}
.header-layout .search .form-control{
  font-size: 14px;
  width: 0;
  margin-right: 0;
  transition: width 0.3s ease, margin-right 0.3s ease;
  -webkit-transition: width 0.3s ease, margin-right 0.3s ease;
  padding: 0;
  border: medium none;
  position: relative;
  top: -6px;
  display: inline-block;
  height: auto;
  vertical-align: top;
  outline: medium none;
  box-shadow: none;
}
.header-layout .search .caption{
  display: inline-block;
  vertical-align: middle;
  background: none transparent;
  border: medium none;
  padding: 0;
  cursor: pointer;
  font-family: 'MuseoSansCyrl-300';
  font-size: 14px;
  line-height: 10px;
  outline: medium none;
}
.header-layout .search .caption .fa{
  margin-right: 5px;
  font-size: 14px;
  line-height: 14px;
}
.header-layout .search:hover{
  opacity: 1;
}

.header-layout .search.search-active{
  opacity: 1;
}
.header-layout .search.search-active .form-control{
  width: 150px;
  margin-right: 10px;
  padding: 2px;
  border: 1px solid #ccc;
}