.info-sidebar{
  position: fixed;
  width: 350px;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 200px;
  background: none #ffc13e;
  background-size: cover;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

.info-sidebar .ico{
  margin: 0 auto;
  position: relative;
}
.info-sidebar .title{
  color: #fff;
  font-size: 30px;
  position: absolute;
  left: 55px;
  top: 730px;
  max-width: 235px;
  font-family: 'MuseoSansCyrl-700';
  line-height: 40px;
}

.info-sidebar.opened .ico{
  /*top: 90px;*/
  /*left: 34px;*/
  cursor: pointer;
}

/*.info-sidebar.opened{*/
  /*background: none #377db9;*/
/*}*/

.info-container{
  padding-left: 350px;
  position: relative;
}

.main-menu .menu-item{
  width: 100%;
  border-bottom: solid 1px #cccccc;
  text-align: center;
  padding: 43px 45px;
  cursor: pointer;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all 0.2s ease;
}
.main-menu .menu-item:last-child{
  border-bottom: medium none;
}

.main-menu .menu-item .title{
  font-size: 30px;
  font-family: 'MuseoSansCyrl-700';
}
.main-menu .menu-item .summary{
  font-size: 18px;
  margin-top: 15px;
}

.main-menu .menu-item:hover{
  background: none #ffc13e;
  /*color: #fff;*/
}

.menu-item-content{
  position: absolute;
  left: 350px;
  top: 0;
  bottom: 0;
  right: 0;
  background: none #fff;
  padding: 70px 110px;

  font-family: 'MuseoSansCyrl-300';

  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  visibility: visible;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);

  -webkit-backface-visibility: hidden;
}

.menu-item-content.open{
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

.menu-item-content .title{
  font-size: 36px;
  font-family: 'MuseoSansCyrl-700';
}

.menu-item-content .title-2{
  font-size: 20px;
  font-family: 'MuseoSansCyrl-500';
  margin-bottom: 20px;
}
.menu-item-content .title-3{
  font-size: 18px;
  font-family: 'MuseoSansCyrl-500';
  margin-bottom: 20px;
}
.menu-item-content .heading{
  font-family: 'MuseoSansCyrl-500';
}

.menu-item-content .image{
  margin-bottom: 20px;
}

.menu-item-content .content{
  font-size: 18px;
  margin-top: 49px;
  line-height: 29px;
  padding-bottom: 50px;
}
.menu-item-content .content p{
  margin-bottom: 35px;
}
.menu-item-content .content p:last-child{
  margin-bottom: 0;
}

.ico-close {
  background: url('../images/ico_close.svg') no-repeat center;
  background-size: 100%;
  position: fixed;
  top: 27px;
  right: 27px;
  opacity: 0.3;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0);
  z-index: 10001;
  color: #000000;
}
.ico-close:hover{
  opacity: 1;
  transform: rotate(180deg);
  border-radius: 50%;
  border-color: rgba(255,255,255,0.3);
}

@media (max-width: 1300px){
  .info-sidebar{
    display: none;
  }
  .info-container{
    padding-left: 0;
  }
  .menu-item-content{
    left: -40px;
  }
  .main-menu .menu-item{
    padding: 20px 25px
  }
  .main-menu .menu-item .title{
    font-size: 24px;
  }
  .main-menu .menu-item .summary{
    font-size: 16px;
  }

  .menu-item-content .title{
    font-size: 30px;
  }
  .menu-item-content .title-2{
    font-size: 16px;
  }
  .menu-item-content .content{
    font-size: 14px;
    line-height: 26px;
  }
  .menu-item-content .content p{
    margin-bottom: 25px;
  }
}