.page-block-product .main-card{
  padding: 100px 60px;
  box-shadow: 0 1px 10px #dedcdd;
  position: relative;
  z-index: 11;
}

.page-block-product .main-card .main-card-inner{
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.page-block-product .main-card .breadcrumbs{
  position: absolute;
  left: 60px;
  top: 40px;
  color: #808080;
}
.page-block-product .main-card .breadcrumbs a{
  color: #808080;
  text-decoration: none;
}
.page-block-product .main-card .breadcrumbs .arrow{
  width: 5px;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
  color: #ffc13e;
  font-size: 9px;
  line-height: 9px;
}

.page-block-product .main-card .image-view{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  z-index: 100;
}
.page-block-product .main-card .image-view .view-item{
  cursor: pointer;
  color: #ccc;
  border: solid 1px #ccc;
  text-align: center;
  padding: 15px 10px;
  margin-bottom: 10px;
  background: none #fff;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-500';
}
.page-block-product .main-card .image-view .view-item:last-child{
  margin-bottom: 0;
}
.page-block-product .main-card .image-view .view-item:hover{
  background: none #ffc13e;
  border-color: #ffc13e;
  color: #fff;
}
.page-block-product .main-card .image-view .view-item.selected{
  background: none #ffc13e;
  border-color: #ffc13e;
  color: #fff;
  cursor: default;
}

.page-block-product .main-card .card-container{
  display: table;
  width: 100%;
}
.page-block-product .main-card .card-container .card-col{
  display: table-cell;
  width: 50%;
}
.page-block-product .main-card .card-container .card-col.card-image{
  vertical-align: middle;
  padding-left: 80px;
}
.page-block-product .main-card .card-container .card-col.card-image .img{
  left: 0;
  position: absolute;
  top: 0;
  z-index: 11;
}
.page-block-product .main-card .card-container .card-col.card-image.card-image-main .img{
  max-height: 100%;
  max-width: 100%;
}

.page-block-product .main-card .card-container .card-col.card-image .image-container{
  width: 506px;
  height: 506px;
  position: relative;
}
.page-block-product .main-card.transformations .card-container .card-col.card-image .image-container{
  width: 454px;
  height: 446px;
}

.page-block-product .main-card .card-container .card-col.card-image .image-container .animation-container,
.page-block-product .main-card .card-container .card-col.card-image .image-container .threed-object{
  width: 506px;
  height: 506px;
}

.page-block-product .main-card .card-container .card-col.card-image .image-container .full-screen{
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  background: none #fff;
  z-index: 10000;
}

.page-block-product .main-card .card-container .card-col.card-image .image-container #viewport{
  left: 0!important;
  top: 0!important;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .control{
  opacity: 0.5;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .control:hover{
  opacity: 1;
}

.page-block-product .main-card .card-container .card-col.card-image .animation-container .preload{
  position: absolute;
  width: 66px;
  height: 66px;
  left: 50%;
  top: 50%;
  margin-left: -33px;
  margin-top: -33px;
  z-index: 100;
  background: url('../images/loading.gif') no-repeat 0 0 transparent;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .spin-ico{
  position: absolute;
  background: none transparent;
  left: 0;
  right: 0;
  bottom: -50px;
  height: 40px;
  cursor: pointer;
  border: solid 1px #ccc;
  color: #ccc;
  text-align: center;
  padding-top: 10px;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .spin-ico:after{
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 16px;
  background: url('../images/ico-360.png') no-repeat 0 0 transparent;
  content: '';
  margin-left: 7px;
}

.page-block-product .main-card .card-container .card-col.card-image .image-container .spin-legend{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  color: #808080;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container:hover .spin-legend{
  display: none;
}

.zoom-slider{
  position: absolute!important;
  left: 20px;
  bottom: 48px;
  z-index: 1001;
}
.zoom-slider .zoom-control{
  font-weight: bold;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  color: #8A8484;
  font-size: 18px;
  line-height: 20px;
  background: url('../images/obj2vr/zoom-img.png') no-repeat -25px -170px transparent;
  padding: 3px;
}
.zoom-slider .zoom-control .zoom-control-inner{
  position: absolute;
  width: 19px;
  height: 19px;
  background: none #fff;
  border-radius: 3px;
  left: 3px;
  top: 3px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #fff),
    color-stop(1, #d9d9d9)
  );
  background-image: -o-linear-gradient(bottom, #fff 0%, #d9d9d9 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, #d9d9d9 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, #d9d9d9 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, #d9d9d9 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #d9d9d9 100%);
}

.zoom-slider .zoom-plus{
  top: -25px;
  left: 0;
}
.zoom-slider .zoom-minus{
  bottom: -25px;
  left: 0;
  background-position: -25px -195px;
}
.zoom-slider .zoom-control.zoom-minus .zoom-control-inner{
  top: auto;
  bottom: 3px;
}

.zoom-slider .zoom-control.disabled .zoom-control-inner{
  cursor: default;
  opacity: 0.5;
}
.zoom-slider .zoom-control .zoom-control-inner:after{
  display: block;
  content: '';
  background: url('../images/obj2vr/zoom-img.png') no-repeat -28px -52px transparent;
  width: 19px;
  height: 19px;
  position: absolute;
  left: 0;
  top: 0;
}
.zoom-slider .zoom-control.zoom-minus .zoom-control-inner:after{
  background-position: -28px -3px;
}

.zoom-slider .ui-slider{
  height: 100px;
  width: 25px;
  border: medium none;
  background: url('../images/obj2vr/zoom-img.png') no-repeat 0 0 transparent;
  border-radius: 0;
}
.zoom-slider .ui-slider .ui-slider-range{
  display: none;
}
.zoom-slider .ui-slider .ui-slider-handle{
  width: 25px;
  height: 8px;
  background: url('../images/obj2vr/zoom-img.png') no-repeat -25px -100px transparent;
  border: medium none;
  left: 0;
  outline: medium none;
  margin: 0;
}


.page-block-product .main-card .card-container .card-col.card-image .image-container .zoom-controls{
  width: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 101;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .zoom-controls .control-item{
  width: 30px;
  height: 30px;
  background: url('../images/ico-view-controls.png') no-repeat 0 0 transparent;
  cursor: pointer;
  margin-bottom: 10px;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .zoom-controls .control-item.minus{
  background-position: 0 -30px;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .zoom-controls .control-item.disabled{
  opacity: 0.5;
  cursor: default;
}

.page-block-product .main-card .card-container .card-col.card-image .image-container .threed-hint{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: none rgba(255, 193, 62, 0.9);
  z-index: 1100;
  padding-top: 54px;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .threed-hint .center{
  width: 220px;
  margin: 0 auto;
  text-align: center;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .threed-hint .hint-text{
  font-size: 18px;
  color: #fff;
  margin: 30px 0;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .threed-hint .continue{
  background: none #fff;
  font-size: 16px;
  color: #ffc13e;
  width: 178px;
  font-family: 'MuseoSansCyrl-700';
  border: medium none;
  outline: medium none;
  padding: 14px;
  cursor: pointer;
}

.page-block-product .main-card .card-container .card-col.card-details{
  padding-left: 60px;
  font-size: 18px;
  font-family: 'MuseoSansCyrl-300';
}

.page-block-product .main-card .card-container .card-col.card-details .artikul span{
  position: relative;
  top: 1px;
}
.page-block-product .main-card .card-container .card-col.card-details .name{
  font-size: 24px;
  margin-top: 10px;
  line-height: 33px;
}

.page-block-product .main-card .card-container .card-col.card-details .text{
  margin-top: 26px;
  line-height: 30px;
}

.page-block-product .main-card .card-container .card-col.card-details .other{
  margin-top: 25px;
}
.page-block-product .main-card .card-container .card-col.card-details .other .panel-title{
  cursor: pointer;
  font-size: 16px;
  position: relative;
  color: #000;
}
.page-block-product .main-card .card-container .card-col.card-details .other .panel-title:after{
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  background: url('../images/ico-collapse.png') no-repeat 0 0 transparent;
}
.page-block-product .main-card .card-container .card-col.card-details .other .panel-title.active:after{
  transform: rotate(90deg);
}

.page-block-product .main-card .card-container .card-col.card-details .other .panel{
  border: medium none;
  box-shadow: none;
}
.page-block-product .main-card .card-container .card-col.card-details .other .panel-heading{
  background: none transparent;
  border: medium none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 9px;
}
.page-block-product .main-card .card-container .card-col.card-details .other .panel-heading:first-child{
  padding-top: 0;
}
.page-block-product .main-card .card-container .card-col.card-details .other .panel-body{
  font-size: 16px;
  color: #808080;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  border: medium none;
  padding: 0 20px 0 0;
  margin-top: 9px;
  margin-bottom: 15px;
}


.page-block-product .main-card .card-container .card-col.card-details .card-header{
  font-size: 16px;
  color: #808080;
}
.page-block-product .main-card .card-container .card-col.card-details .artikul{
  display: inline-block;
}
.page-block-product .main-card .card-container .card-col.card-details .stock-type{
  display: inline-block;
  margin-left: 25px;
}
.page-block-product .main-card .card-container .card-col.card-details .stock-type .stock-indicator{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: none #ffc13e;
  margin-right: 5px;
}
.page-block-product .main-card .card-container .card-col.card-details .stock-type.in-stock .stock-indicator{
  background: none #4eda6f;
}

.page-block-product .main-card .card-container .card-col.card-details .price-block{
  margin-top: 25px;
}
.page-block-product .main-card .card-container .card-col.card-details .price-block .price{
  display: inline-block;
  font-size: 24px;
  font-family: 'MuseoSansCyrl-500';
}

.page-block-product .main-card .card-container .card-col.card-details .buy-button{
  margin-top: 15px;
}
.page-block-product .main-card .card-container .card-col.card-details .buy-button .button{
  display: inline-block;
  cursor: pointer;
  background: none #ffc13e;
  color: #fff;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-700';
  padding: 9px 30px;
  border-radius: 3px;
  text-decoration: none;
  vertical-align: middle;
}
.page-block-product .main-card .card-container .card-col.card-details .buy-button .button:hover{
  background-color: #ffca57;
}
.page-block-product .main-card .card-container .card-col.card-details .buy-button .button.button-test-drive {
  background-color: #fff;
  margin-left: 5px;
  color: #808080;
  border: solid 1px #808080;
  padding: 8px 29px;
  font-family: 'MuseoSansCyrl-300';
}

.page-block-product .main-card .card-container .card-col.card-details .button.button-compare{
  cursor: pointer;
  color: #ffc13e;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-500';
  float: right;
}
.page-block-product .main-card .card-container .card-col.card-details .button.button-compare:before{
  content: '+';
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.page-block-product .main-card .card-container .card-col.card-details .button.button-compare.disabled{
  cursor: default;
  opacity: 0.5;
}

.page-block-product .main-card .card-container .card-col.card-details .button.button-credit{
  cursor: pointer;
  color: #808080;
  font-size: 14px;
  float: right;
  position: relative;
  top: 8px;
}
.page-block-product .main-card .card-container .card-col.card-details .button.button-credit:after{
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  width: 8px;
  height: 8px;
  background: url('../images/ico-arrow-away.png') no-repeat 0 0 transparent;
  background-size: 100%;
}

.page-block-product .gallery{
  text-align: center;
}
.page-block-product .gallery:after{
  display: block;
  clear: both;
  content: '';
}
.page-block-product .gallery .gallery-item{
  float: left;
  width: 25%;
  height: 322px;
  background-size: cover;
  position: relative;
}
.page-block-product .gallery .gallery-item.gallery-item-hidden{
  visibility: hidden;
  height: 0;
}

.page-block-product .gallery .gallery-item img{
  width: 100%;
  height: 100%;
}
.page-block-product .gallery .gallery-item .caption{
  color: #fff;
  text-align: center;
  display: none;
  position: absolute;
  z-index: 11;
  top: 41%;
  width: 100%;
  font-family: 'MuseoSansCyrl-700';
  font-size: 18px;
}

.page-block-product .gallery .gallery-item .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: none rgba(0,0,0, 0.7);
  display: none;
  z-index: 10;
}
.page-block-product .gallery .gallery-item:hover .caption{
  display: block;
}
.page-block-product .gallery .gallery-item:hover .overlay{
  display: block;
}

.page-block-product .technical-characteristics{
  padding: 60px 60px 100px;
}
.page-block-product .technical-characteristics .tab-pane{
  padding-top: 25px;
}
.page-block-product .technical-characteristics .nav-tabs,
.page-block-product .technical-characteristics .nav-tabs > li,
.page-block-product .technical-characteristics .nav-tabs > li > a{
  border: medium none;
}
.page-block-product .technical-characteristics .nav-tabs > li{
  padding: 0 40px;
  position: relative;
}
.page-block-product .technical-characteristics .nav-tabs > li:first-child{
  padding: 0;
}
.page-block-product .technical-characteristics .nav-tabs > li > a{
  background: none transparent;
  font-size: 18px;
  color: #4c4c4c;
  padding: 10px 0;
  cursor: pointer;
}
.page-block-product .technical-characteristics .nav-tabs > li.active:after{
  content: '';
  display: block;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  border-top: solid 5px #ffc13e;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
}
.page-block-product .technical-characteristics .nav-tabs > li.active > a{
  border-bottom: solid 2px #ffc13e;
  color: #000;
}

.page-block-product .technical-characteristics .title{
  font-size: 36px;
}
.page-block-product .technical-characteristics .description{
  font-size: 18px;
  margin-top: 20px;
}
.page-block-product .technical-characteristics .options{
  margin-top: 46px;
}
.page-block-product .technical-characteristics .options .option-item{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-right: 40px;
  margin-bottom: 20px;
  width: 200px;
}
.page-block-product .technical-characteristics .options .option-item img{
  margin-bottom: 15px;
  width: 72px;
  height: 72px;
}

.page-block-product .technical-characteristics .characters-grid{
  display: table;
  width: 100%;
}
.page-block-product .technical-characteristics .characters-grid .grid-col{
  display: table-cell;
}
.page-block-product .technical-characteristics .characters-grid .grid-col.col-left{
  width: 67.5%;
  vertical-align: top;
}
.page-block-product .technical-characteristics .characters-grid .grid-col.col-right{
  width: 32.5%;
  text-align: center;
}

.page-block-product .technical-characteristics .characters-grid .col-images .product-mini-card{
  text-align: left;
  background: none #f7f7f7;
  box-shadow: none;
}

.page-block-product .technical-characteristics .characters-grid .grid-col.col-left table{
  width: 100%;
}
.page-block-product .technical-characteristics .characters-grid .grid-col.col-left table tr td{
  font-size: 16px;
  padding: 16px 19px;
  vertical-align: top;
  border-bottom: solid 1px #d9d9d9;
}
.page-block-product .technical-characteristics .characters-grid .grid-col.col-left table tr:last-child td{
  border-bottom: medium none;
}
.page-block-product .technical-characteristics .characters-grid .grid-col.col-left table tr td.value{
  text-align: right;
}
.page-block-product .technical-characteristics .characters-grid .grid-col.col-left table tr td p{
  margin: 0;
}

.page-block-product .technical-characteristics .characters-grid .grid-col.col-left table tr.character-item-hidden{
  display: none;
}

.page-block-product .technical-characteristics .characters-grid .load-more{
  clear: none;
}

.page-block-product .load-more{
  height: 50px;
  padding-top: 16px;
  background: none #f2f2f2;
  color: #807f7d;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-500';
  text-align: center;
  cursor: pointer;
  clear: both;
}
.page-block-product .load-more:after{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: url('../images/ico-load-more-gray.png') no-repeat 0 0 transparent;
  margin-left: 10px;
}
.page-block-product .load-more.load-more-open:after{
  content: '';
  display: none;
}

.page-block-product .load-more:hover{
  background-color: #e5e5e5;
}

.page-block-product .test-drive-form{
  position: fixed;
  top: 134px;
  width: 560px;
  left: 50%;
  margin-left: -280px;
  z-index: 1001;
}
.page-block-product .test-drive-form-overlay{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: none rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.page-block-product .test-drive-form .form-title{
  font-size: 30px;
  font-family: 'MuseoSansCyrl-500';
  text-align: center;
  color: #fff;
}
.page-block-product .test-drive-form .form-description{
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin-top: 25px;
  color: #fff;
}

.page-block-product .test-drive-form .form-horizontal{
  width: 320px;
  margin: 25px auto 0;
  text-align: center;
}
.page-block-product .test-drive-form .form-horizontal .form-group{
  margin-bottom: 10px;
}
.page-block-product .test-drive-form .form-horizontal .form-group:last-child{
  margin-bottom: 0;
  margin-top: 20px;
  color: #fff;
}
.page-block-product .test-drive-form .form-horizontal .form-group .form-control{
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 12px 15px;
  height: auto;
}

.page-block-product .test-drive-form .form-horizontal .form-group .form-control.btn-order{
  cursor: pointer;
  text-align: center;
  background: none #5098de;
  color: #fff;
  font-family: 'MuseoSansCyrl-700';
  border: medium none;
}
.page-block-product .test-drive-form .form-horizontal .form-group:last-child span{
  cursor: pointer;
}

@media (max-width: 1300px){
  .page-block-product .main-card{
    padding: 100px 40px;
  }
  .page-block-product .main-card .breadcrumbs{
    left: 40px;
  }
  .page-block-product .main-card .card-container .card-col.card-image{
    vertical-align: top;
  }
  .page-block-product .main-card .card-container .card-col.card-image .image-container,
  .page-block-product .main-card .card-container .card-col.card-image .image-container .animation-container{
    width: 406px!important;
    height: 406px!important;
  }
  .page-block-product .main-card .card-container .card-col.card-details{
    font-size: 16px;
  }
  .page-block-product .main-card .card-container .card-col.card-details .name{
    font-size: 18px;
    line-height: 26px;
  }
  .page-block-product .main-card .card-container .card-col.card-details .text{
    margin-top: 20px;
    font-size: 14px;
    line-height: 26px;
  }
  .page-block-product .main-card .card-container .card-col.card-details .other{
    margin-top: 15px;
  }
  .page-block-product .main-card .card-container .card-col.card-details .buy-button{
    margin-top: 20px;
  }
  .page-block-product .main-card .card-container .card-col.card-details .buy-button .button,
  .page-block-product .main-card .card-container .card-col.card-details .buy-button .button.button-test-drive{
    font-size: 14px;
    padding: 12px;
  }

  .page-block-product .main-card.speciality{
    padding: 40px 40px 90px;
  }
  .page-block-product .main-card.speciality .card-container .card-col.card-details{
    padding: 0;
  }

  .page-block-product .main-card.speciality .card-container .card-col.card-details .title{
    font-size: 24px;
  }
  .page-block-product .main-card.speciality.speciality-control .card-container .card-col.card-details{
    padding-left: 40px;
  }
  .page-block-product .main-card.speciality.promo-block .card-col.card-image.right img{
    max-height: 400px;
  }

  .page-block-product .gallery .gallery-item .caption{
    font-size: 12px;
    top: 48%;
  }

  .page-block-product .technical-characteristics{
    padding: 100px 40px;
  }
  .page-block-product .technical-characteristics .characters-grid .grid-col.col-right{
    display: none;
  }
  .page-block-product .technical-characteristics .characters-grid .grid-col.col-left table tr td{
    font-size: 14px;
    padding: 12px 19px;
  }
}