.page-block-product .main-card{
  padding: 40px 30px;
  box-shadow: 0 1px 10px #dedcdd;
  position: relative;
  z-index: 11;
}

.page-block-product .main-card .image-view{
  position: absolute;
  left: 60px;
  top: 70px;
  font-size: 20px;
  z-index: 100;
}
.page-block-product .main-card .image-view .view-item{
  cursor: pointer;
  color: #000;
  margin-bottom: 15px;
  font-family: 'MuseoSansCyrl-500';
}
.page-block-product .main-card .image-view .view-item:last-child{
  margin-bottom: 0;
}
.page-block-product .main-card .image-view .view-item:hover{
  color: #ffc13e;
}
.page-block-product .main-card .image-view .view-item.selected{
  color: #ffc13e;
  cursor: default;
}

.page-block-product .main-card .card-container{
  display: table;
  width: 100%;
}
.page-block-product .main-card .card-container .card-col{
  display: table-cell;
  vertical-align: top;
}
.page-block-product .main-card .card-container .card-col.card-image{
  text-align: center;
  width: 740px;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container{
  width: 740px;
  height: 510px;
  position: relative;
}

.page-block-product .main-card .card-container .card-col.card-image .image-container .zoom-controls{
  width: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 101;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .zoom-controls .control-item{
  width: 30px;
  height: 30px;
  background: url('../images/ico-view-controls.png') no-repeat 0 0 transparent;
  cursor: pointer;
  margin-bottom: 10px;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .zoom-controls .control-item.minus{
  background-position: 0 -30px;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .zoom-controls .control-item.disabled{
  opacity: 0.5;
  cursor: default;
}

.page-block-product .main-card .card-container .card-col.card-image .image-container .threed-hint{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: none rgba(255, 193, 62, 0.9);
  z-index: 101;
  padding-top: 54px;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .threed-hint .center{
  width: 220px;
  margin: 0 auto;
  text-align: center;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .threed-hint .hint-text{
  font-size: 18px;
  color: #fff;
  margin: 30px 0;
}
.page-block-product .main-card .card-container .card-col.card-image .image-container .threed-hint .continue{
  background: none #fff;
  font-size: 16px;
  color: #ffc13e;
  width: 178px;
  font-family: 'MuseoSansCyrl-700';
  border: medium none;
  outline: medium none;
  padding: 14px;
}

.page-block-product .main-card .card-container .card-col.card-details{
  padding-left: 60px;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-300';
}
.page-block-product .main-card .card-container .card-col.card-details .col-container{
  position: relative;
}

.page-block-product .main-card .card-container .card-col.card-details .artikul{
  text-align: center;
  color: #a6a6a6;
}
.page-block-product .main-card .card-container .card-col.card-details .name{
  font-size: 20px;
  margin-top: 15px;
  line-height: 32px;
  text-align: center;
}

.page-block-product .main-card .card-container .card-col.card-details .text{
  margin-top: 25px;
  line-height: 28px;
  text-align: center;
  color: #4d4d4d;
}
.page-block-product .main-card .card-container .card-col.card-details .text .text-container div{
  display: inline;
}
.page-block-product .main-card .card-container .card-col.card-details .text .more{
  color: #ffc13e;
  border-bottom: dashed 1px #ffc13e;
  cursor: pointer;
}
.page-block-product .main-card .card-container .card-col.card-details .price{
  font-size: 30px;
  font-family: 'MuseoSansCyrl-500';
  margin-top: 20px;
  color: #ffc13e;
  text-align: center;
}

.page-block-product .main-card .card-container .card-col.card-details .text .additional-text{
  padding: 50px 25px 90px;
  background: none #f2f1ed;
  border-radius: 5px;
  box-shadow: 0 2px 2px #e6e6e6;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  height: 510px;
  overflow-y: auto;
  overflow-x: hidden;
}
.page-block-product .main-card .card-container .card-col.card-details .text .additional-text .close{
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 5px;
  background: none #e6e5e1;
  right: 0;
  top: 0;
  opacity: 1;
}
.page-block-product .main-card .card-container .card-col.card-details .text .additional-text .close:after{
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: url('../images/ico-popup-close-small.png') no-repeat 0 0 transparent;
  right: 15px;
  top: 15px;
}

.page-block-product .main-card .card-container .card-col.card-details .text .additional-text .title{
  text-align: left;
  font-size: 20px;
  font-family: 'MuseoSansCyrl-500';
  margin-bottom: 25px;
}
.page-block-product .main-card .card-container .card-col.card-details .text .additional-text .item .text{
  text-align: left;
  margin-top: 0;
}

.page-block-product .main-card .card-container .card-col.card-details .text .additional-text .arrows{
  position: absolute;
  bottom: 40px;
  left: 30px;
  height: 20px;
}
.page-block-product .main-card .card-container .card-col.card-details .text .additional-text .arrows .arrow{
  width: 26px;
  height: 20px;
  cursor: pointer;
  background: url('../images/additional-text-arrows.png') no-repeat 0 0 transparent;
  display: inline-block;
  margin-right: 10px;
}
.page-block-product .main-card .card-container .card-col.card-details .text .additional-text .arrows .arrow.next{
  background-position: -26px 0;
}
.page-block-product .main-card .card-container .card-col.card-details .text .additional-text .arrows .arrow.disabled{
  opacity: 0.5;
}

.page-block-product .main-card .card-container .card-col.card-details .other{
  margin: 25px 0 10px;
}

.page-block-product .main-card .card-container .card-col.card-details .other .other-item .btn{
  display: block;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-700';
  border: medium none;
  background: none #f2f1ed;
  padding: 15px;
}
.page-block-product .main-card .card-container .card-col.card-details .other .other-item.refunds{
  position: relative;
}
.page-block-product .main-card .card-container .card-col.card-details .other .other-item.refunds .popup{
  position: absolute;
  width: 100%;
  padding: 30px;
  z-index: 100;
  background: none #f2f1ed;
  box-shadow: 0 2px 2px #bebdba;
  top: 100%;
  right: 0;
  text-align: left;
  font-size: 16px;
}
.page-block-product .main-card .card-container .card-col.card-details .other .other-item.refunds .popup .title{
  font-family: 'MuseoSansCyrl-500';
}
.page-block-product .main-card .card-container .card-col.card-details .other .other-item.refunds .popup .text{
  text-align: left;
  margin-top: 15px;
}
.page-block-product .main-card .card-container .card-col.card-details .other .other-item.refunds .popup .close{
  position: absolute;
  width: 16px;
  height: 16px;
  background: url('../images/ico-popup-close-small.png') no-repeat 0 0 transparent;
  right: 20px;
  top: 20px;
  opacity: 1;
}

.page-block-product .main-card .card-container .card-col.card-details .buy-button{
  text-align: center;
}
.page-block-product .main-card .card-container .card-col.card-details .buy-button .button{
  display: block;
  cursor: pointer;
  background: none #ffc13e;
  color: #fff;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-700';
  padding: 15px;
  text-decoration: none;
  border-radius: 5px;
}
.page-block-product .main-card .card-container .card-col.card-details .buy-button .button:hover{
  background-color: #ffca57;
}

.page-block-product .main-card.speciality{
  background: none #f2f0f1;
  box-shadow: none;
  z-index: 10;
  padding: 100px;
}
.page-block-product .main-card.speciality.speciality-white{
  background: none #fff;
}

.page-block-product .main-card.speciality .card-container .card-col.card-details{
  vertical-align: middle;
  padding-right: 60px;
}
.page-block-product .main-card.speciality .card-container .card-col.card-details .title{
  font-size: 36px;
}
.page-block-product .main-card.speciality .card-container .card-col.card-details .actions{
  margin-top: 48px;
}
.page-block-product .main-card.speciality .card-container .card-col.card-details .actions .action-item{
  text-transform: lowercase;
  color: #5098de;
}
.page-block-product .main-card.speciality .card-container .card-col.card-details .actions .action-item .ico{
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 80px;
  height: 40px;
  background: url('../images/ico-action-move.png') no-repeat 0 0 transparent;
}
.page-block-product .main-card.speciality .card-container .card-col.card-details .actions .action-item .caption{
  display: inline-block;
  vertical-align: middle;
  width: 150px;
}

.page-block-product .main-card.speciality .card-container .card-col.card-image img{
  position: relative;
  right: 18px;
  max-width: 100%;
}

.page-block-product .main-card.speciality.speciality-control{
  padding-bottom: 0;
  padding-top: 76px;
}
.page-block-product .main-card.speciality.speciality-control .card-container .card-col.card-image{
  vertical-align: bottom;
}
.page-block-product .main-card.speciality.speciality-control .card-container .card-col.card-details{
  padding-bottom: 80px;
  padding-left: 98px;
}

.page-block-product .main-card.speciality.speciality-description{
  height: 500px;
  background: url('../images/temp/bg-speciality-description.png') no-repeat 50% 50% fixed;
  background-size: cover;
  padding: 80px 100px;
}
.page-block-product .main-card.speciality.speciality-description .card-container .card-col.card-details{
  height: 340px
}

.page-block-product .main-card.schema{
  padding: 118px 60px;
  overflow: hidden;
}
.page-block-product .main-card.schema .card-container{
  padding: 0;
}
.page-block-product .main-card.schema .card-container .card-col{
  width: 100%;
}
.page-block-product .main-card.schema .card-container .card-col img{
  left: -34px;
  position: relative;
  top: -3px;
}

.page-block-product .main-card.schema .schema-list{
  position: absolute;
  top: 120px;
  bottom: 120px;
  left: 60px;
  right: 60px;
}
.page-block-product .main-card.schema .schema-list .schema-item{
  position: absolute;
  border-top: solid 3px #5098de;
  padding-top: 20px;
}
.page-block-product .main-card.schema .schema-list .schema-item:before{
  content: '';
  position: absolute;
  right: -4px;
  top: -6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: none #5098de;
}

.page-block-product .main-card.schema .schema-list .schema-item .title{
  font-size: 18px;
  font-family: 'MuseoSansCyrl-700';
}
.page-block-product .main-card.schema .schema-list .schema-item .text{
  margin-top: 22px;
  line-height: 24px;
  display: inline-block;
  width: 240px;
}

.page-block-product .main-card.schema .schema-list .schema-item.schema-item-1{
  left: 50%;
  margin-left: -485px;
  width: 332px;
  top: 75px;
}

.page-block-product .main-card.schema .schema-list .schema-item.schema-item-2{
  left: 50%;
  margin-left: -482px;
  width: 420px;
  top: 235px;
}

.page-block-product .main-card.schema .schema-list .schema-item.schema-item-3{
  left: 50%;
  margin-left: -484px;
  width: 333px;
  top: 393px;
}

.page-block-product .main-card.schema .schema-list .schema-item.schema-item-4{
  right: 50%;
  margin-right: -482px;
  width: 449px;
  top: 48px;
  text-align: right;
}

.page-block-product .main-card.schema .schema-list .schema-item.schema-item-5{
  right: 50%;
  margin-right: -483px;
  width: 464px;
  top: 244px;
  text-align: right;
}

.page-block-product .main-card.schema .schema-list .schema-item.schema-item-6{
  right: 50%;
  margin-right: -483px;
  width: 360px;
  top: 397px;
  text-align: right;
}

.page-block-product .main-card.schema .schema-list .schema-item.schema-item-4:before,
.page-block-product .main-card.schema .schema-list .schema-item.schema-item-5:before,
.page-block-product .main-card.schema .schema-list .schema-item.schema-item-6:before{
  right: auto;
  left: -4px;
}

.page-block-product .gallery .gallery-item{
  float: left;
  width: 25%;
  height: 322px;
  background-size: cover;
  position: relative;
}

.page-block-product .gallery .gallery-item .caption{
  color: #fff;
  text-align: center;
  display: none;
  position: absolute;
  z-index: 11;
  top: 41%;
  width: 100%;
  font-family: 'MuseoSansCyrl-700';
  font-size: 18px;
}

.page-block-product .gallery .gallery-item .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: none rgba(0,0,0, 0.7);
  display: none;
  z-index: 10;
}
.page-block-product .gallery .gallery-item:hover .caption{
  display: block;
}
.page-block-product .gallery .gallery-item:hover .overlay{
  display: block;
}

.page-block-product .configurator{
  padding: 95px 58px;
  background: none #f2f2f2;
}
.page-block-product .configurator .title{
  font-size: 36px;
}
.page-block-product .configurator .description{
  font-size: 18px;
  margin-top: 20px;
}

.page-block-product .configurator .functions-tabs{
  margin-top: 39px;
  font-size: 16px;
}
.page-block-product .configurator .functions-tabs .function-types{
  display: inline-block;
  background: none #fff;
}
.page-block-product .configurator .functions-tabs .function-types .type-item{
  display: inline-block;
  cursor: pointer;
  padding: 12px 23px;
}

.page-block-product .configurator .functions-tabs .function-types .type-item.selected{
  cursor: default;
  color: #fff;
  background: none #5098de;
}

.page-block-product .configurator .functions-tabs .function-types .type-item:hover{
  color: #fff;
  background: none #5098de;
}

.page-block-product .configurator .functions-tabs .function-total{
  float: right;
  border: solid 2px #657680;
  color: #657680;
  position: relative;
  width: 350px;
  z-index: 101;
}
.page-block-product .configurator .functions-tabs .function-total:hover{
  background: none #657680;
  color: #fff;
}

.page-block-product .configurator .functions-tabs .function-total .label{
  cursor: pointer;
  padding: 10px 90px;
}
.page-block-product .configurator .functions-tabs .function-total .functions-list{
  position: absolute;
  width: 100%;
  top: -2px;
  left: 0;
  right: 0;
  padding: 20px;
  background: none #fff;
  display: none;
  max-height: 575px;
  overflow-y: auto;
}
.page-block-product .configurator .functions-tabs .function-total .functions-list .list-item{
  background: none #f2f2f2;
  padding: 20px 46px 20px 20px;
  font-size: 16px;
  margin-bottom: 10px;
  position: relative;
  color: #272e32;
}
.page-block-product .configurator .functions-tabs .function-total .functions-list .list-item .price{
  font-family: 'MuseoSansCyrl-300';
  color: #808080;
  margin-top: 10px;
}

.page-block-product .configurator .functions-tabs .function-total .functions-list .list-item .ico-remove{
  position: absolute;
  width: 16px;
  height: 16px;
  background: url('../images/ico-function-remove.png') no-repeat 0 0 transparent;
  right: 20px;
  top: 50%;
  margin-top: -8px;
  cursor: pointer;
}
.page-block-product .configurator .functions-tabs .function-total .functions-list .list-item .ico-remove:hover{
  opacity: 0.8;
}

.page-block-product .configurator .functions-tabs .function-total .functions-list .list-item:last-child{
  margin-bottom: 0;
}

.page-block-product .configurator .functions-tabs .function-total .functions-list .total-price{
  margin-top: 20px;
  text-align: center;
}
.page-block-product .configurator .functions-tabs .function-total .functions-list .total-price .buy-button{
  color: #fff;
  background: none #5098de;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.page-block-product .configurator .functions-tabs .function-total .functions-list .total-price .buy-button:hover{
  background: none #59a8f7;
}

.page-block-product .configurator .functions-tabs .function-total .functions-list .total-price .additional-price{
  color: #999;
  margin-top: 20px;
  font-size: 14px;
}

.page-block-product .configurator .functions-tabs .function-total.opened{
  background: none #657680;
  border: none medium;
}
.page-block-product .configurator .functions-tabs .function-total.opened .label{
  color: #fff;
}
.page-block-product .configurator .functions-tabs .function-total.opened .label:before{
  content: "";
  border-color: #657680 transparent transparent transparent;
  border-style: solid;
  border-width: 7px 8px;
  width: 0;
  height: 0;
  position: absolute;
  right: 50%;
  bottom: -14px;
  z-index: 111;
  margin-right: -8px;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page-block-product .configurator .functions-tabs .function-total.opened .functions-list{
  display: block;
}

.page-block-product .configurator .functions-list{
  margin-top: 39px;
}
.page-block-product .configurator .functions-list .list-group{
  margin-bottom: 50px;
}
.page-block-product .configurator .functions-list .list-group .group-title{
  font-size: 18px;
  margin-bottom: 28px;
}
.page-block-product .configurator .functions-list .function-item{
  width: 277px;
  background: none #fff;
  display: inline-block;
  vertical-align: top;
  margin: 0 23px 23px 0;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}
.page-block-product .configurator .functions-list .function-item .price{
  color: #5098de;
  font-size: 18px;
  margin-top: 10px;
}

.page-block-product .configurator .functions-list .function-item:hover:before{
  border: solid 2px #5098de;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.page-block-product .configurator .functions-list .function-item.selected{
  background: none #5098de;
  color: #fff;
}
.page-block-product .configurator .functions-list .function-item.selected .price{
  color: #fff;
}

.page-block-product .technical-characteristics{
  padding: 60px 30px 100px 40px;
  background: none #f2f0f1;
}
.page-block-product .technical-characteristics .title{
  font-size: 18px;
  margin-bottom: 40px;
}

.page-block-product .technical-characteristics .inner{
  display: table;
  width: 100%;
}
.page-block-product .technical-characteristics .inner .col{
  display: table-cell;
}

.page-block-product .technical-characteristics .options{
  width: 440px;
}
.page-block-product .technical-characteristics .options .option-item{
  display: inline-block;
  vertical-align: top;
  border-bottom: solid 1px #d9d9d9;
  height: 80px;
  padding-top: 35px;
  position: relative;
}
.page-block-product .technical-characteristics .options .option-item:nth-child(2):after{
  display: block;
  content: '';
  clear: both;
}

.page-block-product .technical-characteristics .options .option-item .ico{
  position: absolute;
}

.page-block-product .technical-characteristics .characters-grid{
  padding-right: 60px;
}

.page-block-product .technical-characteristics .characters-grid table{
  width: 100%;
}
.page-block-product .technical-characteristics .characters-grid table tr.visible{
  display: table-row!important;
  visibility: visible !important;
}

.page-block-product .technical-characteristics .characters-grid table tr td{
  font-size: 16px;
  padding: 15px 0;
  vertical-align: middle;
  border-top: solid 1px #d9d9d9;
  color: #000;
}
.page-block-product .technical-characteristics .characters-grid table tr:first-child td{
  padding-top: 0;
  border-top: medium none;
}

.page-block-product .technical-characteristics .characters-grid table tr td.value{
  text-align: right;
}

.page-block-product .technical-characteristics .options .text{
  font-size: 16px;
}

.page-block-product .technical-characteristics .load-more{
  border: medium none;
  background: none #d9d9d9;
  padding: 15px;
  color: #808080;
  font-size: 16px;
  display: block;
}
.page-block-product .technical-characteristics .load-more:hover{
  background-color: #e5e5e5;
}

.page-block-product .total-cost{
  background: none #5098de;
  padding: 50px 100px;
  color: #fff;
  font-size: 18px;
}

.page-block-product .main-card.total-cost .card-container .card-col{
  width: auto;
}
.page-block-product .total-cost .options-count{
  font-weight: bold;
}
.page-block-product .total-cost .price{
  font-size: 24px;
}
.page-block-product .total-cost .button{
  color: #fff;
  background: none #5098de;
  border: solid 2px #fff;
  padding: 10px 30px;
  vertical-align: middle;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.page-block-product .total-cost .button:hover{
  background: none #fff;
  color: #5098de;
}