.page-block-product-compare{
  padding: 40px 60px;
}
.page-block-product-compare .title{
  font-size: 24px;
  font-family: 'MuseoSansCyrl-700';
}

.page-block-product-compare .product-list{
  margin-top: 35px;
  position: relative;
}

.page-block-product-compare .product-list .clear-compare{
  position: absolute;
  right: 0;
  top: -65px;
  color: #fff;
  background: none #505e66;
  padding: 12px 35px;
  cursor: pointer;
  font-family: 'MuseoSansCyrl-700';
  font-size: 16px;
}

.page-block-product-compare .product-list .list-table{
  border: 0;
  border-spacing: 0;
  width: 100%;
}
.page-block-product-compare .product-list .list-table tr td{
  padding: 15px 30px 15px 15px;
}
.page-block-product-compare .product-list .list-table tr td:first-child{
  width: 100%;
  padding-right: 15px;
}
.page-block-product-compare .product-list .list-table tr td:last-child{
  padding-right: 0;
}

.page-block-product-compare .product-list .list-table tr:first-child td{
  padding-bottom: 55px;
}
.page-block-product-compare .product-list .list-table tr td p{
  margin: 0;
}

.page-block-product-compare .product-list .list-table tr:nth-child(even) td{
  background: none #f2f2f2;
}

.page-block-product-compare .product-list .product-item{
  width: 272px;
  position: relative;
  color: #272e32;
  padding-bottom: 20px;
}
.page-block-product-compare .product-list .product-item:last-child{
  margin-right: 0;
}
.page-block-product-compare .product-list .product-item .price{
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 11px;
  color: #fff;
  background: none #ffc13e;
}
.page-block-product-compare .product-list .product-item .artikul{
  font-size: 16px;
  color: #4c4c4c;
  margin-top: 15px;
}
.page-block-product-compare .product-list .product-item .name{
  margin-top: 10px;
  font-size: 18px;
  line-height: 29px;
  font-family: 'MuseoSansCyrl-500';
  padding-right: 85px;
}