.page-block-info-part{
  font-size: 16px;
}

/* page-block-about */
.page-block-about{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.page-block-about .page-inner{
  width: 695px;
  margin: 0 auto -240px;
  min-height: 100%;
  height: auto;
  padding-top: 475px;
}
.page-block-about .page-inner:after{
  content: "";
  height: 240px;
  display: block;
}

.page-block-about .head{
  min-height: 400px;
  color: #fff;
  font-size: 45px;
  background: url('../images/bg-about.png') no-repeat center center transparent;
  background-size: cover;
  text-align: center;
  padding: 140px 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.page-block-about .page-title{
  font-size: 45px;
}
.page-block-about .page-content{
  font-size: 18px;
  line-height: 29px;
  margin-top: 48px;
}

.page-block-about .transitions{
  height: 150px;
  font-size: 18px;
  overflow: hidden;
  clear: both;
  display: table;
  width: 100%;
  border-top: solid 1px #f2f2f2;
  position: relative;
  top: 90px;
  margin-bottom: 60px;
}
.page-block-about .transitions:before{
  content: "";
  clear: both;
}

.page-block-about .transitions .transition-item{
  display: table-cell;
  border-right: solid 1px #f2f2f2;
  padding: 30px 60px;
}
.page-block-about .transitions .transition-item:last-child{
  border-right: medium none;
}
.page-block-about .transitions .transition-item .transition-inner{
  position: relative;
  padding-right: 64px;
  background: url('../images/ico-transition.png') no-repeat right center transparent;
}
.page-block-about .transitions .transition-item a{
  text-decoration: none;
  color: inherit;
}
.page-block-about .transitions .transition-item .transition-title{
  font-size: 24px;
  color: #000;
  font-family: 'MuseoSansCyrl-500';
}
.page-block-about .transitions .transition-item .transition-text{
  font-size: 18px;
  margin-top: 20px;
  color: #4d4d4d;
}

/* page-block-contacts */
.page-block-contacts{
  font-size: 18px;
  padding: 40px 0 72px;
}

.page-block-contacts .title{
  font-size: 24px;
  font-family: 'MuseoSansCyrl-500'
}

.page-block-contacts .communication-type .title{
  font-size: 18px;
}
.page-block-contacts .communication-type .text{
  margin-top: 20px;
  line-height: 25px;
}
.page-block-contacts .communication-type .call-order{
  margin-top: 10px;
  position: relative;
}
.page-block-contacts .communication-type .call-order .button{
  background: none #5098de;
  border: medium none;
  font-family: 'MuseoSansCyrl-700';
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  outline: medium none;
}
.page-block-contacts .communication-type .call-order .button:hover{
  background: none #59a8f7;
}

.page-block-contacts .communication-type .map-box{
  margin-top: 25px;
  width: 100%;
  height: 300px !important;
}

.page-block-contacts .communication-types{
  margin: 35px 0;
  display: table;
  width: 100%;
}
.page-block-contacts .communication-types .communication-type{
  display: table-cell;
  padding-right: 50px;
}

.page-block-contacts .communication-type-address{
  margin-top: 30px;
}

.page-block-contacts .communication-type-address a.download-scheme{
  display: inline-block;
  cursor: pointer;
  font-family: 'MuseoSansCyrl-700';
  font-size: 16px;
  padding: 12px 35px;
  background: none #ffc13e;
  color: #fff;
  text-decoration: none;
  margin-top: 30px;
}

.map-infowindow{
  max-width: 350px;
}
.map-infowindow .name{
  font-weight: bold;
}
.map-infowindow .address{
  margin-top: 10px;
}

/* page-block-brands */
.page-block-brands{
  background: none #f2f1ed;
}
.page-block-brands .head{
  min-height: 400px;
  color: #fff;
  font-size: 45px;
  background: url('../images/bg-brands.png') no-repeat center center transparent;
  background-size: cover;
  text-align: center;
  padding: 165px 40px 0;
}
.page-block-brands .brand-list{
  padding: 30px 0 30px 30px;
}
.page-block-brands .brand-list .brand-item{
  display: inline-block;
  box-shadow: 0 2px 3px #dad9d6;
  background: none #fff;
  margin: 0 25px 30px 0;
  width: 277px;
  vertical-align: top;
  position: relative;
  padding-bottom: 70px;
}
.page-block-brands .brand-list .brand-item .description{
  padding: 30px 20px 0;
}
.page-block-brands .brand-list .brand-item .description:after{
  content: '';
  display: block;
  clear: both;
}
.page-block-brands .brand-list .brand-item .description .title{
  font-size: 18px;
  font-family: 'MuseoSansCyrl-500';
}
.page-block-brands .brand-list .brand-item .description .text{
  color: #4c4c4c;
  margin-top: 15px;
}
.page-block-brands .brand-list .brand-item .description .btn-details{
  /*margin-top: 20px;*/
  color: #ffc13e;
  font-family: 'MuseoSansCyrl-700';
  cursor: pointer;
  background: url('../images/ico-brand-detail.png') no-repeat right center transparent;
  line-height: 19px;
  float: left;
  padding-right: 30px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.page-block-brands .brand-list .brand-item .description .btn-details:hover{
  color: #ffca57;
}

/* page-block-brand-item */
.page-block-brand-item{
  background: none #f2f1ed;
}
.page-block-brand-item .head{
  min-height: 400px;
  color: #fff;
  font-size: 45px;
  background: url('../images/bg-brands.png') no-repeat center center transparent;
  background-size: cover;
  text-align: center;
  padding: 165px 40px 0;
}
.page-block-brand-item .brand-details{
  padding: 30px 100px 60px 30px;
  position: relative;
}
.page-block-brand-item .brand-details .brand-inner{
  padding: 60px 0 60px 50px;
  background: none #fff;
  position: relative;
}
.page-block-brand-item .brand-details .ico-close{
  position: absolute;
  right: 30px;
  top: 27px;
  width: 60px;
  height: 60px;
}
.page-block-brand-item .brand-details .ico-close:hover{
  transform: none;
}

.page-block-brand-item .brand-details .ico-close a{
  display: block;
  width: 60px;
  height: 60px;
  background: url('../images/ico-brand-close.png') no-repeat center center #fff;
}

.page-block-brand-item .brand-details .brand-inner .brand-title{
  font-size: 46px;
}
.page-block-brand-item .brand-details .brand-inner .brand-text{
  color: #4c4c4c;
  font-size: 16px;
  margin-top: 35px;
  line-height: 30px;
  padding-right: 370px;
}
.page-block-brand-item .brand-details .brand-inner .brand-ico{
  width: 220px;
  right: 60px;
  top: 60px;
  position: absolute;
}
.page-block-brand-item .brand-details .brand-inner .catalog-groups{
  margin-top: 35px;
}
.page-block-brand-item .brand-details .brand-inner .catalog-groups .catalog-group-item{
  margin-right: 10px;
  background: none #ffc13e;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  padding: 15px 65px 15px 40px;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.page-block-brand-item .brand-details .brand-inner .catalog-groups .catalog-group-item:after{
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  background: url('../images/brands/brand-catalog-group-arrow.png') no-repeat 0 center transparent;
  top: 0;
  bottom: 0;
  right: 40px;
}
.page-block-brand-item .brand-details .brand-inner .catalog-groups .catalog-group-item:hover{
  background-color: #ffca57;
}

.page-block-brand-item .brand-details .brand-inner .catalog-groups .catalog-group-item:last-child{
  margin-right: 0;
}

/*search*/
.page-block-search{
  padding: 40px 60px;
}
.page-block-search .title{
  font-size: 24px;
  font-family: 'MuseoSansCyrl-700';
}

.page-block-search .product-list{
  margin-top: 35px;
  position: relative;
}
.page-block-search .product-list .product-item{
  padding-bottom: 85px;
}

/* 404 */
.page-block.page-block-404{
  position: absolute;
  top: -200px;
  right: 0;
  bottom: 0;
  left: 0;
  background: none #fff;
  z-index: 1100;
  text-align: center;
  padding: 150px 0;
}
.page-block.page-block-404 .page-head{
  font-size: 200px;
  color: #ffc13e;
  font-family: 'MuseoSansCyrl-700';
}
.page-block.page-block-404 .page-title{
  font-size: 40px;
  font-family: 'MuseoSansCyrl-700';
  margin-top: 25px;
}
.page-block.page-block-404 .page-content{
  width: 700px;
  margin: 25px auto 0;
  line-height: 26px;
}
.page-block.page-block-404 .btn-main{
  cursor: pointer;
  text-align: center;
  background: none #ffc13e;
  color: #fff;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-700';
  border: medium none;
  margin-top: 25px;
  padding: 12px 15px;
  text-decoration: none;
  display: inline-block;
}
.page-block.page-block-404 .btn-main:hover{
  background-color: #ffca57;
}